In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
notes =5
i=1
while i<notes:
    print(i)    
    i+=1
else:    
    print("no 10rs notes are available")

1
2
3
4
no 10rs notes are available

In [6]:
s = "my name is Sudhanshu"

In [7]:
s[0]

'm'

In [8]:
s[20]

IndexError: string index out of range

In [12]:
s[3:10:2]

'nm s'

In [14]:
s

'my name is Sudhanshu'

In [13]:
s[10:3:-1]

' si ema'

In [15]:
s[::-1]

'uhsnahduS si eman ym'

In [16]:
s[2:-6]

' name is Sud'

In [20]:
for i in s:
    if i =='s':
        print("i got s as string")
    print(i)

m
y

n
a
m
e

i
i got s as string
s

S
u
d
h
a
n
i got s as string
s
h
u

In [21]:
s

'my name is Sudhanshu'

In [26]:
for i in s:
    print(i)
else:    
    if i == "u":
        print("last character was u")
    else:
        print("this is else condition")

m
y

n
a
m
e

i
s

S
u
d
h
a
n
s
h
u
last character was u

In [30]:
s ="ineuron"
ss = ""  
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss+s[i]

In [31]:
ss

'ieuro'

In [2]:
n =7
for i in range (0,n):
    for j in range(0,2*i-1):
        print("*",end ="")
    print("\r")

*
***
*****
*******
*********
***********

In [42]:
n=7
for i in range(n,0,-1):
    for j in range (0,n-i):
        print(" ",end =" ")
    for j in range(0,2*i-1):
            print(j, end =" ")
    print("")

0 1 2 3 4 5 6 7 8 9 10 11 12
  0 1 2 3 4 5 6 7 8 9 10
    0 1 2 3 4 5 6 7 8
      0 1 2 3 4 5 6
        0 1 2 3 4
          0 1 2
            0

In [39]:
n=7
for i in range(n,0,-1):
    for j in range (0,n-i):
        print(j, end ="")
    print("")

0
01
012
0123
01234
012345

In [29]:
n=9
i=0
while i<n:
    print(" "*(n-i-1) + "* "*(i+1))
    i=i+1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [30]:
"* "*(i+1)

'* * * * * * * * * * '

In [43]:
n=3
for i in range (n,0,-1):
    for j in range(0,n-i):
        print(" ", end = " ")
    for j in range(0,2*i-1):
        print("*",end =" ")
    print(" ")

* * * * *
  * * *
    *

In [50]:
n=3
for i in range (n,0,-1):
    for j in range(0,n-i):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print(j,end =" ")  
    print(" ")

0 1 2 3 4
  0 1 2
    0

In [51]:
fname = "tarun"
lname = "bhardwaj"
no = 123456

In [52]:
fname

'tarun'

In [53]:
fname,lname,no = "krish","naik",8888

In [54]:
fname

'krish'

In [63]:
l =["sudh",3435,"sfsfsf",3+4j,True,[3,2,6,"hgh"],7.895]

In [64]:
l

['sudh', 3435, 'sfsfsf', (3+4j), True, [3, 2, 6, 'hgh'], 7.895]

In [65]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'float'>

In [66]:
for i in l:
    if type(i)==list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [68]:
str(range(10))

'range(0, 10)'

In [8]:
n=3
for i in range (n,0,-1):
    for j in range(0,n-i):
        print(" ",end=" ")
    for j in range(0,2*i-1):
        print("*",end = " ")
    print(" ")

* * * * *
  * * *
    *

In [19]:
n=7
for i in range (n,0,-1):
    for j in range(0,n-i):
        for j in range(0,2*i-1):
            print("*",end = " ")
    print(" ")

* * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * *

In [20]:
a='this is the first class of fullstack data science that"s why ihave joined this'

In [21]:
a

'this is the first class of fullstack data science that"s why ihave joined this'

In [1]:
s="This is full stack class"

In [20]:
for i in range(len(s)):
        print(s[i])

T
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

In [15]:
s[::-1]

'ssalc kcats lluf si sihT'

In [1]:
s="my name is"

In [2]:
s

'my name is'

In [3]:
s.find("m")

0

In [4]:
s.index("name")

3

In [5]:
s.rindex("name")

3

In [12]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [13]:
s.split()

['my', 'name', 'is']

In [14]:
s="my name is krish, naik and i am hero"

In [16]:
s.split(",")

['my name is krish', ' naik and i am hero']

In [17]:
s.split("na")

['my ', 'me is krish, ', 'ik and i am hero']

In [18]:
s.upper()

'MY NAME IS KRISH, NAIK AND I AM HERO'

In [19]:
s.swapcase()

'MY NAME IS KRISH, NAIK AND I AM HERO'

In [20]:
reversed(s)

In [22]:
for i in reversed(s):
    print(i)

o
r
e
h

m
a

i

d
n
a

k
i
a
n

,
h
s
i
r
k

s
i

e
m
a
n

y
m

In [27]:
n="    su per   "

In [28]:
n.strip()

'su per'

In [29]:
n.lstrip()

'su per   '

In [30]:
n.rstrip()

'    su per'

In [31]:
s.replace("s","g")

'my name ig krigh, naik and i am hero'

In [32]:
s

'my name is krish, naik and i am hero'

In [33]:
s="sudh"

In [34]:
s

'sudh'

In [37]:
s.center(10,"@")

'@@@sudh@@@'

In [38]:
s="We all are a part of Full Stack"

In [39]:
s.lower()

'we all are a part of full stack'

In [40]:
b=s.find("a")
for i in range(len(s)):
    print(b+i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [41]:
s.replace("a","ineuron")

'We ineuronll ineuronre ineuron pineuronrt of Full Stineuronck'

In [42]:
s.split()

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [43]:
s.count("a")

5

In [44]:
s="sudh"
s=list(s)

In [45]:
s

['s', 'u', 'd', 'h']

In [13]:
l=[1,2,3,4,5,"sudh"]

In [10]:
l

[1, 2, 3, 4, 5, 'sudh']

In [14]:
l.insert(3,"ineuron")

In [15]:
l

[1, 2, 3, 'ineuron', 4, 5, 'sudh']

In [26]:
n=[1,2,3,"ki",[89,63],"yoyo"]

In [27]:
n.insert(3,[6+7j])

In [29]:
n.append(["krish"])

In [31]:
n.append(["naik"])

In [32]:
n

[1, 2, 3, [(6+7j)], 'ki', [89, 63], 'yoyo', ['krish'], ['naik']]

In [33]:
for i in n:
    if type(i)==list:
        for j in i:
            if type(j)==str:
                print(j)
                print(j.index(j))

krish
0
naik
0

In [35]:
n.index(["krish"])

7

In [38]:
n[7]=["sudh"]

In [39]:
n

[1, 2, 3, [(6+7j)], 'ki', [89, 63], 'yoyo', ['sudh'], ['naik']]

In [1]:
l=[[1,2,3],[11,12,"b","b","b"],[21,"t",223],[4,5,6],[7,8,9],"demo",12.5]

In [2]:
l

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [3]:
for i in l:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("index of string {} is".format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string in nested list is '{}' ".format(i[j]),j)
                i.remove(i[j])
                continue
            j=j+1
print("List after removal of string from nested list is\r",l,"\n")

index of string b is 2
index of string b is 3
index of string b is 4
The string in nested list is 'b'  2
The string in nested list is 'b'  2
The string in nested list is 'b'  2
index of string t is 1
The string in nested list is 't'  1
 [[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [1]:
[i for i in "sudh"]

['s', 'u', 'd', 'h']

In [2]:
[[i] for i in "sudh"]

[['s'], ['u'], ['d'], ['h']]

In [8]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [5]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [11]:
l=[]
for i in range(10):
    if i%2!=0:
        l.append("odd")
    else:
        l.append("even")
print(l)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [1]:
["odd" if i%2!=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [4]:
mat =[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [6]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [7]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [8]:
l=[]
for i in range(8):
    if i%2==0:
        if i%3==0:
            l.append(i)
print(l)

[0, 6]

In [2]:
l=[]
for i in range(10):
    l.append(i)

In [3]:
["yes" if i ==1 else "no" if i ==2 else "test" for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [11]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
res =[]
for i in l:
    if i==1:
        res.append("yes")
    elif i==2:
        res.append("no")
    else:
        res.append("test")
print(res)

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [1]:
t=((3,4,5,67),("ssdf",65,6,7),"kl;j",5,6,7,["ghgadj",8887,34,5,6,])

In [2]:
t

((3, 4, 5, 67),
 ('ssdf', 65, 6, 7),
 'kl;j',
 5,
 6,
 7,
 ['ghgadj', 8887, 34, 5, 6])

In [3]:
type(t)

tuple

In [5]:
t[6][0:5]

['ghgadj', 8887, 34, 5, 6]

In [1]:
x3={5:"wer","k4":[345,3434,532]}

In [30]:
x3

{5: 'wer', 'k4': 446}

In [4]:
x3["k4"]

[345, 3434, 532]

In [5]:
x3["k4"]=456

In [6]:
x3

{5: 'wer', 'k4': 456}

In [8]:
x3["k4"]-=10

In [9]:
x3

{5: 'wer', 'k4': 446}

In [12]:
"k4" in x3.keys()

True

In [13]:
x3.keys()

dict_keys([5, 'k4'])

In [21]:
for i in x3.keys():
    print(x3[i])

wer
446

In [22]:
x5={(345,56,76):"fsdfsfdg"}

In [35]:
e={56:{45,78,89}}

In [36]:
e.values()

dict_values([{89, 45, 78}])

In [37]:
list(e[56])[0]

89

In [15]:
a=input()
b=a.split(" ")
c=set(b)
dict={}
for i in c:
    dict[i]="akh"
list2=[]
for i in dict.keys():
    list2.append(dict[i])
tuple1=tuple(list2)    
list3=[]
for i in dict.keys():
    list3.append(i)
tuple2= tuple(list3)
tuple2

A paragraph from the Ancient Greek write b is a self-contained unit of discourse in writing dealing with a particular

('in',
 'particular',
 'dealing',
 'a',
 'self-contained',
 'of',
 'is',
 'with',
 'b',
 'Greek',
 'write',
 'the',
 'paragraph',
 'Ancient',
 'unit',
 'writing',
 'from',
 'discourse',
 'A')

In [32]:
my_dict={}
for i in range(10):
    my_dict[i]=i*i
print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [33]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
from collections import orderedDict

ImportError: cannot import name 'orderedDict' from 'collections' (D:\Tarun\All-App-Files\anaconda\lib\collections\__init__.py)

In [99]:
e={56:{45,78,89}}
f=list(e.values())
f[0]

{45, 78, 89}

In [100]:
list(f[0])[0]

89

In [19]:
def sum(x,y):
    print(x+y)

In [20]:
type(sum(12,22))

34

NoneType

In [17]:
def sum(x,y):
    return(x+y)

In [13]:
sum(12,22)+6

40

In [21]:
def test3(n,m):
    return n*10 ,m*40,m+n

In [22]:
test3(2,7)

(20, 280, 9)

In [24]:
type(test3(2,7))

tuple

In [25]:
c,x,v = test3(3,8)

In [26]:
c

30

In [27]:
x

320

In [28]:
v

11

In [29]:
c,x,_=test3(3,8)

In [30]:
c

30

In [31]:
x

320

In [32]:
_

320

In [33]:
True or False

True

In [34]:
def concat(x,y,z):
    return x+y+z

In [35]:
concat(["a","b"],["c","d"],["e","1"])

['a', 'b', 'c', 'd', 'e', '1']

In [15]:
def concat(*args):
    l=[]
    for i in args:
        l=l+i
    return l

In [17]:
concat([1,2,3],[6,7],["x","y"])

[1, 2, 3, 6, 7, 'x', 'y']

In [33]:
def test13(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==str:
            a.append(i)
        if type(i)==int:
                b.append(i)
        if type(i)==float:
            c.append(i)
        if type(i)==list:
            d.append(i)
        if type(i)==tuple:
            e.append(i)
        if type(i)==set:
            f.append(i)
        if type(i)==dict:
            g.append(i)
    return a,b,c,d,e,f,g

In [34]:
test13([1],(1,2),{3,4})

([], [], [], [[1]], [(1, 2)], [{3, 4}], [])

In [5]:
def test14(*args,**kwargs):
    l= [i for i in args if type(i)==list]
    m= [i[1] for i in kwargs.items() if type(i[1])==list]
    return l,m

In [7]:
test14([1,2,3],{"a":1,"b":2},c=9,m=[4,5,6,7])

([[1, 2, 3]], [[4, 5, 6, 7]])

In [8]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])==list:
            if "sudh" in i[1]:
                print("mil gya")
                print(i[1])
    return kwargs

In [2]:
dict={"a":1,"b":2}

In [13]:
for i in dict.keys():
    print(i)

a
b

In [5]:
## fargs,*args,**kwargs
def get_data(engine,*queries,**properties):
    print(engine)
    print(queries)
    print(properties)

In [15]:
get_data(9,"python","flask",[1,2,3],(5,6,7),{"age":10,"year":1998},limit=10,c=4,qty=12)

9
('python', 'flask', [1, 2, 3], (5, 6, 7), {'age': 10, 'year': 1998})
{'limit': 10, 'c': 4, 'qty': 12}

In [11]:
def func1(*args):
    dt ={}
    for i in args:
        if type(i)in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt

In [12]:
func1(1,2,3,[5,6,7],"hi","io",6+7j,6+4j)

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)]}

In [14]:
year=int(input("enter year"))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"1leap year")
        else:
            print(year,"2not leap year")
    else:
        print(year,"3leap year")
else:
    print(year,"4not leap year")

enter year1700
1700 2not leap year

In [18]:
year=int(input("enter year"))
if (year%4==0 and year%100!=0) or year%400==0:
    print(year,"leap year")
else:
    print(year,"not leap year")

enter year1700
1700 not leap year

In [17]:
True or False

True

In [3]:
num = int(input("enter a no"))
if num<2:
    print(num," is not a prime no")
else:
    for i in range(2,num):
        if num%i==0:
            print(num,"is not a prime no")
            break
    else:
        print(num,"is a prime no")

enter a no12
12 is not a prime no

In [9]:
for i in range(2,10001):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i,"is a prime no")

2 is a prime no
3 is a prime no
5 is a prime no
7 is a prime no
11 is a prime no
13 is a prime no
17 is a prime no
19 is a prime no
23 is a prime no
29 is a prime no
31 is a prime no
37 is a prime no
41 is a prime no
43 is a prime no
47 is a prime no
53 is a prime no
59 is a prime no
61 is a prime no
67 is a prime no
71 is a prime no
73 is a prime no
79 is a prime no
83 is a prime no
89 is a prime no
97 is a prime no
101 is a prime no
103 is a prime no
107 is a prime no
109 is a prime no
113 is a prime no
127 is a prime no
131 is a prime no
137 is a prime no
139 is a prime no
149 is a prime no
151 is a prime no
157 is a prime no
163 is a prime no
167 is a prime no
173 is a prime no
179 is a prime no
181 is a prime no
191 is a prime no
193 is a prime no
197 is a prime no
199 is a prime no
211 is a prime no
223 is a prime no
227 is a prime no
229 is a prime no
233 is a prime no
239 is a prime no
241 is a prime no
251 is a prime no
257 is a prime no
263 is a prime no
269 is a prime no
271 is a prime no
277 is a prime no
281 is a prime no
283 is a prime no
293 is a prime no
307 is a prime no
311 is a prime no
313 is a prime no
317 is a prime no
331 is a prime no
337 is a prime no
347 is a prime no
349 is a prime no
353 is a prime no
359 is a prime no
367 is a prime no
373 is a prime no
379 is a prime no
383 is a prime no
389 is a prime no
397 is a prime no
401 is a prime no
409 is a prime no
419 is a prime no
421 is a prime no
431 is a prime no
433 is a prime no
439 is a prime no
443 is a prime no
449 is a prime no
457 is a prime no
461 is a prime no
463 is a prime no
467 is a prime no
479 is a prime no
487 is a prime no
491 is a prime no
499 is a prime no
503 is a prime no
509 is a prime no
521 is a prime no
523 is a prime no
541 is a prime no
547 is a prime no
557 is a prime no
563 is a prime no
569 is a prime no
571 is a prime no
577 is a prime no
587 is a prime no
593 is a prime no
599 is a prime no
601 is a prime no
607 is a prime no
613 is a prime no
617 is a prime no
619 is a prime no
631 is a prime no
641 is a prime no
643 is a prime no
647 is a prime no
653 is a prime no
659 is a prime no
661 is a prime no
673 is a prime no
677 is a prime no
683 is a prime no
691 is a prime no
701 is a prime no
709 is a prime no
719 is a prime no
727 is a prime no
733 is a prime no
739 is a prime no
743 is a prime no
751 is a prime no
757 is a prime no
761 is a prime no
769 is a prime no
773 is a prime no
787 is a prime no
797 is a prime no
809 is a prime no
811 is a prime no
821 is a prime no
823 is a prime no
827 is a prime no
829 is a prime no
839 is a prime no
853 is a prime no
857 is a prime no
859 is a prime no
863 is a prime no
877 is a prime no
881 is a prime no
883 is a prime no
887 is a prime no
907 is a prime no
911 is a prime no
919 is a prime no
929 is a prime no
937 is a prime no
941 is a prime no
947 is a prime no
953 is a prime no
967 is a prime no
971 is a prime no
977 is a prime no
983 is a prime no
991 is a prime no
997 is a prime no
1009 is a prime no
1013 is a prime no
1019 is a prime no
1021 is a prime no
1031 is a prime no
1033 is a prime no
1039 is a prime no
1049 is a prime no
1051 is a prime no
1061 is a prime no
1063 is a prime no
1069 is a prime no
1087 is a prime no
1091 is a prime no
1093 is a prime no
1097 is a prime no
1103 is a prime no
1109 is a prime no
1117 is a prime no
1123 is a prime no
1129 is a prime no
1151 is a prime no
1153 is a prime no
1163 is a prime no
1171 is a prime no
1181 is a prime no
1187 is a prime no
1193 is a prime no
1201 is a prime no
1213 is a prime no
1217 is a prime no
1223 is a prime no
1229 is a prime no
1231 is a prime no
1237 is a prime no
1249 is a prime no
1259 is a prime no
1277 is a prime no
1279 is a prime no
1283 is a prime no
1289 is a prime no
1291 is a prime no
1297 is a prime no
1301 is a prime no
1303 is a prime no
1307 is a prime no
1319 is a prime no
1321 is a prime no
1327 is a prime no
1361 is a prime no
1367 is a prime no
1373 is a prime no
1381 is a prime no
1399 is a prime no
1409 is a prime no
1423 is a prime no
1427 is a prime no
1429 is a prime no
1433 is a prime no
1439 is a prime no
1447 is a prime no
1451 is a prime no
1453 is a prime no
1459 is a prime no
1471 is a prime no
1481 is a prime no
1483 is a prime no
1487 is a prime no
1489 is a prime no
1493 is a prime no
1499 is a prime no
1511 is a prime no
1523 is a prime no
1531 is a prime no
1543 is a prime no
1549 is a prime no
1553 is a prime no
1559 is a prime no
1567 is a prime no
1571 is a prime no
1579 is a prime no
1583 is a prime no
1597 is a prime no
1601 is a prime no
1607 is a prime no
1609 is a prime no
1613 is a prime no
1619 is a prime no
1621 is a prime no
1627 is a prime no
1637 is a prime no
1657 is a prime no
1663 is a prime no
1667 is a prime no
1669 is a prime no
1693 is a prime no
1697 is a prime no
1699 is a prime no
1709 is a prime no
1721 is a prime no
1723 is a prime no
1733 is a prime no
1741 is a prime no
1747 is a prime no
1753 is a prime no
1759 is a prime no
1777 is a prime no
1783 is a prime no
1787 is a prime no
1789 is a prime no
1801 is a prime no
1811 is a prime no
1823 is a prime no
1831 is a prime no
1847 is a prime no
1861 is a prime no
1867 is a prime no
1871 is a prime no
1873 is a prime no
1877 is a prime no
1879 is a prime no
1889 is a prime no
1901 is a prime no
1907 is a prime no
1913 is a prime no
1931 is a prime no
1933 is a prime no
1949 is a prime no
1951 is a prime no
1973 is a prime no
1979 is a prime no
1987 is a prime no
1993 is a prime no
1997 is a prime no
1999 is a prime no
2003 is a prime no
2011 is a prime no
2017 is a prime no
2027 is a prime no
2029 is a prime no
2039 is a prime no
2053 is a prime no
2063 is a prime no
2069 is a prime no
2081 is a prime no
2083 is a prime no
2087 is a prime no
2089 is a prime no
2099 is a prime no
2111 is a prime no
2113 is a prime no
2129 is a prime no
2131 is a prime no
2137 is a prime no
2141 is a prime no
2143 is a prime no
2153 is a prime no
2161 is a prime no
2179 is a prime no
2203 is a prime no
2207 is a prime no
2213 is a prime no
2221 is a prime no
2237 is a prime no
2239 is a prime no
2243 is a prime no
2251 is a prime no
2267 is a prime no
2269 is a prime no
2273 is a prime no
2281 is a prime no
2287 is a prime no
2293 is a prime no
2297 is a prime no
2309 is a prime no
2311 is a prime no
2333 is a prime no
2339 is a prime no
2341 is a prime no
2347 is a prime no
2351 is a prime no
2357 is a prime no
2371 is a prime no
2377 is a prime no
2381 is a prime no
2383 is a prime no
2389 is a prime no
2393 is a prime no
2399 is a prime no
2411 is a prime no
2417 is a prime no
2423 is a prime no
2437 is a prime no
2441 is a prime no
2447 is a prime no
2459 is a prime no
2467 is a prime no
2473 is a prime no
2477 is a prime no
2503 is a prime no
2521 is a prime no
2531 is a prime no
2539 is a prime no
2543 is a prime no
2549 is a prime no
2551 is a prime no
2557 is a prime no
2579 is a prime no
2591 is a prime no
2593 is a prime no
2609 is a prime no
2617 is a prime no
2621 is a prime no
2633 is a prime no
2647 is a prime no
2657 is a prime no
2659 is a prime no
2663 is a prime no
2671 is a prime no
2677 is a prime no
2683 is a prime no
2687 is a prime no
2689 is a prime no
2693 is a prime no
2699 is a prime no
2707 is a prime no
2711 is a prime no
2713 is a prime no
2719 is a prime no
2729 is a prime no
2731 is a prime no
2741 is a prime no
2749 is a prime no
2753 is a prime no
2767 is a prime no
2777 is a prime no
2789 is a prime no
2791 is a prime no
2797 is a prime no
2801 is a prime no
2803 is a prime no
2819 is a prime no
2833 is a prime no
2837 is a prime no
2843 is a prime no
2851 is a prime no
2857 is a prime no
2861 is a prime no
2879 is a prime no
2887 is a prime no
2897 is a prime no
2903 is a prime no
2909 is a prime no
2917 is a prime no
2927 is a prime no
2939 is a prime no
2953 is a prime no
2957 is a prime no
2963 is a prime no
2969 is a prime no
2971 is a prime no
2999 is a prime no
3001 is a prime no
3011 is a prime no
3019 is a prime no
3023 is a prime no
3037 is a prime no
3041 is a prime no
3049 is a prime no
3061 is a prime no
3067 is a prime no
3079 is a prime no
3083 is a prime no
3089 is a prime no
3109 is a prime no
3119 is a prime no
3121 is a prime no
3137 is a prime no
3163 is a prime no
3167 is a prime no
3169 is a prime no
3181 is a prime no
3187 is a prime no
3191 is a prime no
3203 is a prime no
3209 is a prime no
3217 is a prime no
3221 is a prime no
3229 is a prime no
3251 is a prime no
3253 is a prime no
3257 is a prime no
3259 is a prime no
3271 is a prime no
3299 is a prime no
3301 is a prime no
3307 is a prime no
3313 is a prime no
3319 is a prime no
3323 is a prime no
3329 is a prime no
3331 is a prime no
3343 is a prime no
3347 is a prime no
3359 is a prime no
3361 is a prime no
3371 is a prime no
3373 is a prime no
3389 is a prime no
3391 is a prime no
3407 is a prime no
3413 is a prime no
3433 is a prime no
3449 is a prime no
3457 is a prime no
3461 is a prime no
3463 is a prime no
3467 is a prime no
3469 is a prime no
3491 is a prime no
3499 is a prime no
3511 is a prime no
3517 is a prime no
3527 is a prime no
3529 is a prime no
3533 is a prime no
3539 is a prime no
3541 is a prime no
3547 is a prime no
3557 is a prime no
3559 is a prime no
3571 is a prime no
3581 is a prime no
3583 is a prime no
3593 is a prime no
3607 is a prime no
3613 is a prime no
3617 is a prime no
3623 is a prime no
3631 is a prime no
3637 is a prime no
3643 is a prime no
3659 is a prime no
3671 is a prime no
3673 is a prime no
3677 is a prime no
3691 is a prime no
3697 is a prime no
3701 is a prime no
3709 is a prime no
3719 is a prime no
3727 is a prime no
3733 is a prime no
3739 is a prime no
3761 is a prime no
3767 is a prime no
3769 is a prime no
3779 is a prime no
3793 is a prime no
3797 is a prime no
3803 is a prime no
3821 is a prime no
3823 is a prime no
3833 is a prime no
3847 is a prime no
3851 is a prime no
3853 is a prime no
3863 is a prime no
3877 is a prime no
3881 is a prime no
3889 is a prime no
3907 is a prime no
3911 is a prime no
3917 is a prime no
3919 is a prime no
3923 is a prime no
3929 is a prime no
3931 is a prime no
3943 is a prime no
3947 is a prime no
3967 is a prime no
3989 is a prime no
4001 is a prime no
4003 is a prime no
4007 is a prime no
4013 is a prime no
4019 is a prime no
4021 is a prime no

4027 is a prime no
4049 is a prime no
4051 is a prime no
4057 is a prime no
4073 is a prime no
4079 is a prime no
4091 is a prime no
4093 is a prime no
4099 is a prime no
4111 is a prime no
4127 is a prime no
4129 is a prime no
4133 is a prime no
4139 is a prime no
4153 is a prime no
4157 is a prime no
4159 is a prime no
4177 is a prime no
4201 is a prime no
4211 is a prime no
4217 is a prime no
4219 is a prime no
4229 is a prime no
4231 is a prime no
4241 is a prime no
4243 is a prime no
4253 is a prime no
4259 is a prime no
4261 is a prime no
4271 is a prime no
4273 is a prime no
4283 is a prime no
4289 is a prime no
4297 is a prime no
4327 is a prime no
4337 is a prime no
4339 is a prime no
4349 is a prime no
4357 is a prime no
4363 is a prime no
4373 is a prime no
4391 is a prime no
4397 is a prime no
4409 is a prime no
4421 is a prime no
4423 is a prime no
4441 is a prime no
4447 is a prime no
4451 is a prime no
4457 is a prime no
4463 is a prime no
4481 is a prime no
4483 is a prime no
4493 is a prime no
4507 is a prime no
4513 is a prime no
4517 is a prime no
4519 is a prime no
4523 is a prime no
4547 is a prime no
4549 is a prime no
4561 is a prime no
4567 is a prime no
4583 is a prime no
4591 is a prime no
4597 is a prime no
4603 is a prime no
4621 is a prime no
4637 is a prime no
4639 is a prime no
4643 is a prime no
4649 is a prime no
4651 is a prime no
4657 is a prime no
4663 is a prime no
4673 is a prime no
4679 is a prime no
4691 is a prime no
4703 is a prime no
4721 is a prime no
4723 is a prime no
4729 is a prime no
4733 is a prime no
4751 is a prime no
4759 is a prime no
4783 is a prime no
4787 is a prime no
4789 is a prime no
4793 is a prime no
4799 is a prime no
4801 is a prime no
4813 is a prime no
4817 is a prime no
4831 is a prime no
4861 is a prime no
4871 is a prime no
4877 is a prime no
4889 is a prime no
4903 is a prime no
4909 is a prime no
4919 is a prime no
4931 is a prime no
4933 is a prime no
4937 is a prime no
4943 is a prime no
4951 is a prime no
4957 is a prime no
4967 is a prime no
4969 is a prime no
4973 is a prime no
4987 is a prime no
4993 is a prime no
4999 is a prime no
5003 is a prime no
5009 is a prime no
5011 is a prime no
5021 is a prime no
5023 is a prime no
5039 is a prime no
5051 is a prime no
5059 is a prime no
5077 is a prime no
5081 is a prime no
5087 is a prime no
5099 is a prime no
5101 is a prime no
5107 is a prime no
5113 is a prime no
5119 is a prime no
5147 is a prime no
5153 is a prime no
5167 is a prime no
5171 is a prime no
5179 is a prime no
5189 is a prime no
5197 is a prime no
5209 is a prime no
5227 is a prime no
5231 is a prime no
5233 is a prime no
5237 is a prime no
5261 is a prime no
5273 is a prime no
5279 is a prime no
5281 is a prime no
5297 is a prime no
5303 is a prime no
5309 is a prime no
5323 is a prime no
5333 is a prime no
5347 is a prime no
5351 is a prime no
5381 is a prime no
5387 is a prime no
5393 is a prime no
5399 is a prime no
5407 is a prime no
5413 is a prime no
5417 is a prime no
5419 is a prime no
5431 is a prime no
5437 is a prime no
5441 is a prime no
5443 is a prime no
5449 is a prime no
5471 is a prime no
5477 is a prime no
5479 is a prime no
5483 is a prime no
5501 is a prime no
5503 is a prime no
5507 is a prime no
5519 is a prime no
5521 is a prime no
5527 is a prime no
5531 is a prime no
5557 is a prime no
5563 is a prime no
5569 is a prime no
5573 is a prime no
5581 is a prime no
5591 is a prime no
5623 is a prime no
5639 is a prime no
5641 is a prime no
5647 is a prime no
5651 is a prime no
5653 is a prime no
5657 is a prime no
5659 is a prime no
5669 is a prime no
5683 is a prime no
5689 is a prime no
5693 is a prime no
5701 is a prime no
5711 is a prime no
5717 is a prime no
5737 is a prime no
5741 is a prime no
5743 is a prime no
5749 is a prime no
5779 is a prime no
5783 is a prime no
5791 is a prime no
5801 is a prime no
5807 is a prime no
5813 is a prime no
5821 is a prime no
5827 is a prime no
5839 is a prime no
5843 is a prime no
5849 is a prime no
5851 is a prime no
5857 is a prime no
5861 is a prime no
5867 is a prime no
5869 is a prime no
5879 is a prime no
5881 is a prime no
5897 is a prime no
5903 is a prime no
5923 is a prime no
5927 is a prime no
5939 is a prime no
5953 is a prime no
5981 is a prime no
5987 is a prime no
6007 is a prime no
6011 is a prime no
6029 is a prime no
6037 is a prime no
6043 is a prime no
6047 is a prime no
6053 is a prime no
6067 is a prime no
6073 is a prime no
6079 is a prime no
6089 is a prime no
6091 is a prime no
6101 is a prime no
6113 is a prime no
6121 is a prime no
6131 is a prime no
6133 is a prime no
6143 is a prime no
6151 is a prime no
6163 is a prime no
6173 is a prime no
6197 is a prime no
6199 is a prime no
6203 is a prime no
6211 is a prime no
6217 is a prime no
6221 is a prime no
6229 is a prime no
6247 is a prime no
6257 is a prime no
6263 is a prime no
6269 is a prime no
6271 is a prime no
6277 is a prime no
6287 is a prime no
6299 is a prime no
6301 is a prime no
6311 is a prime no
6317 is a prime no
6323 is a prime no
6329 is a prime no
6337 is a prime no
6343 is a prime no
6353 is a prime no
6359 is a prime no
6361 is a prime no
6367 is a prime no
6373 is a prime no
6379 is a prime no
6389 is a prime no
6397 is a prime no
6421 is a prime no
6427 is a prime no
6449 is a prime no
6451 is a prime no
6469 is a prime no
6473 is a prime no
6481 is a prime no
6491 is a prime no
6521 is a prime no
6529 is a prime no
6547 is a prime no
6551 is a prime no
6553 is a prime no
6563 is a prime no
6569 is a prime no
6571 is a prime no
6577 is a prime no
6581 is a prime no
6599 is a prime no
6607 is a prime no
6619 is a prime no
6637 is a prime no
6653 is a prime no
6659 is a prime no
6661 is a prime no
6673 is a prime no
6679 is a prime no
6689 is a prime no
6691 is a prime no
6701 is a prime no
6703 is a prime no
6709 is a prime no
6719 is a prime no
6733 is a prime no
6737 is a prime no
6761 is a prime no
6763 is a prime no
6779 is a prime no
6781 is a prime no
6791 is a prime no
6793 is a prime no
6803 is a prime no
6823 is a prime no
6827 is a prime no
6829 is a prime no
6833 is a prime no
6841 is a prime no
6857 is a prime no
6863 is a prime no
6869 is a prime no
6871 is a prime no
6883 is a prime no
6899 is a prime no
6907 is a prime no
6911 is a prime no
6917 is a prime no
6947 is a prime no
6949 is a prime no
6959 is a prime no
6961 is a prime no
6967 is a prime no
6971 is a prime no
6977 is a prime no
6983 is a prime no
6991 is a prime no
6997 is a prime no
7001 is a prime no
7013 is a prime no
7019 is a prime no
7027 is a prime no
7039 is a prime no
7043 is a prime no
7057 is a prime no
7069 is a prime no
7079 is a prime no
7103 is a prime no
7109 is a prime no
7121 is a prime no
7127 is a prime no
7129 is a prime no
7151 is a prime no
7159 is a prime no
7177 is a prime no
7187 is a prime no
7193 is a prime no
7207 is a prime no
7211 is a prime no
7213 is a prime no
7219 is a prime no
7229 is a prime no
7237 is a prime no
7243 is a prime no
7247 is a prime no
7253 is a prime no
7283 is a prime no
7297 is a prime no
7307 is a prime no
7309 is a prime no
7321 is a prime no
7331 is a prime no
7333 is a prime no
7349 is a prime no
7351 is a prime no
7369 is a prime no
7393 is a prime no
7411 is a prime no
7417 is a prime no
7433 is a prime no
7451 is a prime no
7457 is a prime no
7459 is a prime no
7477 is a prime no
7481 is a prime no
7487 is a prime no
7489 is a prime no
7499 is a prime no
7507 is a prime no
7517 is a prime no
7523 is a prime no
7529 is a prime no
7537 is a prime no
7541 is a prime no
7547 is a prime no
7549 is a prime no
7559 is a prime no
7561 is a prime no
7573 is a prime no
7577 is a prime no
7583 is a prime no
7589 is a prime no
7591 is a prime no
7603 is a prime no
7607 is a prime no
7621 is a prime no
7639 is a prime no
7643 is a prime no
7649 is a prime no
7669 is a prime no
7673 is a prime no
7681 is a prime no
7687 is a prime no
7691 is a prime no
7699 is a prime no
7703 is a prime no
7717 is a prime no
7723 is a prime no
7727 is a prime no
7741 is a prime no
7753 is a prime no
7757 is a prime no
7759 is a prime no
7789 is a prime no
7793 is a prime no
7817 is a prime no
7823 is a prime no
7829 is a prime no
7841 is a prime no
7853 is a prime no
7867 is a prime no
7873 is a prime no
7877 is a prime no
7879 is a prime no
7883 is a prime no
7901 is a prime no
7907 is a prime no
7919 is a prime no
7927 is a prime no
7933 is a prime no
7937 is a prime no
7949 is a prime no
7951 is a prime no
7963 is a prime no
7993 is a prime no

8009 is a prime no
8011 is a prime no
8017 is a prime no
8039 is a prime no
8053 is a prime no
8059 is a prime no
8069 is a prime no
8081 is a prime no
8087 is a prime no
8089 is a prime no
8093 is a prime no
8101 is a prime no
8111 is a prime no
8117 is a prime no
8123 is a prime no
8147 is a prime no
8161 is a prime no
8167 is a prime no
8171 is a prime no
8179 is a prime no
8191 is a prime no
8209 is a prime no
8219 is a prime no
8221 is a prime no
8231 is a prime no
8233 is a prime no
8237 is a prime no
8243 is a prime no
8263 is a prime no
8269 is a prime no
8273 is a prime no
8287 is a prime no
8291 is a prime no
8293 is a prime no
8297 is a prime no
8311 is a prime no
8317 is a prime no
8329 is a prime no
8353 is a prime no
8363 is a prime no
8369 is a prime no
8377 is a prime no
8387 is a prime no
8389 is a prime no
8419 is a prime no
8423 is a prime no
8429 is a prime no
8431 is a prime no
8443 is a prime no
8447 is a prime no
8461 is a prime no
8467 is a prime no
8501 is a prime no
8513 is a prime no
8521 is a prime no
8527 is a prime no
8537 is a prime no
8539 is a prime no
8543 is a prime no
8563 is a prime no
8573 is a prime no
8581 is a prime no
8597 is a prime no
8599 is a prime no
8609 is a prime no
8623 is a prime no
8627 is a prime no
8629 is a prime no
8641 is a prime no
8647 is a prime no
8663 is a prime no
8669 is a prime no
8677 is a prime no
8681 is a prime no
8689 is a prime no
8693 is a prime no
8699 is a prime no
8707 is a prime no
8713 is a prime no
8719 is a prime no
8731 is a prime no
8737 is a prime no
8741 is a prime no
8747 is a prime no
8753 is a prime no
8761 is a prime no
8779 is a prime no
8783 is a prime no
8803 is a prime no
8807 is a prime no
8819 is a prime no
8821 is a prime no
8831 is a prime no
8837 is a prime no
8839 is a prime no
8849 is a prime no
8861 is a prime no
8863 is a prime no
8867 is a prime no
8887 is a prime no
8893 is a prime no
8923 is a prime no
8929 is a prime no
8933 is a prime no
8941 is a prime no
8951 is a prime no
8963 is a prime no
8969 is a prime no
8971 is a prime no
8999 is a prime no
9001 is a prime no
9007 is a prime no
9011 is a prime no
9013 is a prime no
9029 is a prime no
9041 is a prime no
9043 is a prime no
9049 is a prime no
9059 is a prime no
9067 is a prime no
9091 is a prime no
9103 is a prime no
9109 is a prime no
9127 is a prime no
9133 is a prime no
9137 is a prime no
9151 is a prime no
9157 is a prime no
9161 is a prime no
9173 is a prime no
9181 is a prime no
9187 is a prime no
9199 is a prime no
9203 is a prime no
9209 is a prime no
9221 is a prime no
9227 is a prime no
9239 is a prime no
9241 is a prime no
9257 is a prime no
9277 is a prime no
9281 is a prime no
9283 is a prime no
9293 is a prime no
9311 is a prime no
9319 is a prime no
9323 is a prime no
9337 is a prime no
9341 is a prime no
9343 is a prime no
9349 is a prime no
9371 is a prime no
9377 is a prime no
9391 is a prime no
9397 is a prime no
9403 is a prime no
9413 is a prime no
9419 is a prime no
9421 is a prime no
9431 is a prime no
9433 is a prime no
9437 is a prime no
9439 is a prime no
9461 is a prime no
9463 is a prime no
9467 is a prime no
9473 is a prime no
9479 is a prime no
9491 is a prime no
9497 is a prime no
9511 is a prime no
9521 is a prime no
9533 is a prime no
9539 is a prime no
9547 is a prime no
9551 is a prime no
9587 is a prime no
9601 is a prime no
9613 is a prime no
9619 is a prime no
9623 is a prime no
9629 is a prime no
9631 is a prime no
9643 is a prime no
9649 is a prime no
9661 is a prime no
9677 is a prime no
9679 is a prime no
9689 is a prime no
9697 is a prime no
9719 is a prime no
9721 is a prime no
9733 is a prime no
9739 is a prime no
9743 is a prime no
9749 is a prime no
9767 is a prime no
9769 is a prime no
9781 is a prime no
9787 is a prime no
9791 is a prime no
9803 is a prime no
9811 is a prime no
9817 is a prime no
9829 is a prime no
9833 is a prime no
9839 is a prime no
9851 is a prime no
9857 is a prime no
9859 is a prime no
9871 is a prime no
9883 is a prime no
9887 is a prime no
9901 is a prime no
9907 is a prime no
9923 is a prime no
9929 is a prime no
9931 is a prime no
9941 is a prime no
9949 is a prime no
9967 is a prime no
9973 is a prime no

## Lambda Function

In [1]:
a=10
b=20
def test1(x,y):
    return(x+y)

In [2]:
test1(a,b)

30

In [3]:
m=lambda x,y: (x+y)

In [4]:
m(a,b)

30

In [5]:
b="sudh"
c="test"
n=lambda arg1,arg2: print(arg1,arg2)

In [6]:
n(b,c)

sudh test

In [9]:
r=10
def test(a,b):
    r=a/b
    print(r)

In [11]:
test(12,10)

1.2

## Docstring

In [15]:
def test4():
    """
    Writing docstring in triple inverted commas
    This is my test function
    with the help of this function you will be able to learn basics of function
    """
    print("my name is xyz")

In [17]:
test4()  ##press shift and tab for docstring

my name is xyz

In [18]:
help(test4)

Help on function test4 in module __main__:

test4()
    Writing docstring in triple inverted commas
    This is my test function
    with the help of this function you will be able to learn basics of function

# txt file

In [2]:
f=open("test.txt","w")

In [3]:
f.write("ghgjjkfdhjwgdweggd egdlg ebfwgiul gyu")

37

In [4]:
f.close()

In [5]:
f=open("test.txt")

In [6]:
f.read()

'ghgjjkfdhjwgdweggd egdlg ebfwgiul gyu'

In [7]:
f.read()

''

In [8]:
f.seek(0)

0

In [9]:
f.read()

'ghgjjkfdhjwgdweggd egdlg ebfwgiul gyu'

In [10]:
f.close()

In [12]:
f=open("test.txt","r")

In [15]:
f.write("jfjafqbu")  ## not writable bcoz open in readable format

UnsupportedOperation: not writable

In [18]:
f.seek(0)

0

In [19]:
f.read(25)

'ghgjjkfdhjwgdweggd egdlg '

In [20]:
f.close()

In [21]:
f.read()

ValueError: I/O operation on closed file.

In [22]:
f=open("test.txt","w")  ## it will delete all previous data in test file bcoz again open in writable format

In [23]:
f.write("jdfhieghi jwbfw tewqf rgeqh jbfiwhu1 ebfuiu uehuifn;l qfeqeded rqefg")

68

In [24]:
f.close()

In [26]:
f=open("test.txt","a")  ## after opening in append mode previous data not be deleted and will write data from next line

In [27]:
f.write("ttttrryruryuoipouo dtrwresfxdfx ftydytd")

39

In [28]:
f.close()

In [29]:
f=open("test.txt","r")

In [31]:
f.read()

'jdfhieghi jwbfw tewqf rgeqh jbfiwhu1 ebfuiu uehuifn;l qfeqeded rqefgttttrryruryuoipouo dtrwresfxdfx ftydytd'

In [32]:
f.close()

In [35]:
f=open("test.txt","wb")  ## write binary mode

In [36]:
f.write("ghdfasgfgk") ## it will only accept data in binary format

TypeError: a bytes-like object is required, not 'str'

In [37]:
f.write(b"huigfuiqeqlqciq bbwwsaar")  ## b is for binary

24

In [38]:
f.close()

In [39]:
f=open("test.txt","r")

In [40]:
f.read()

'huigfuiqeqlqciq bbwwsaar'

In [42]:
f.seek(2)

2

In [43]:
f.read(1)

'i'

In [45]:
f.close()

In [46]:
f=open("test.txt","rb")  ## read in binary

In [48]:
f.seek(-3,2)  ## cursor going at 3rdbite before end

21

In [49]:
f=open("test2.txt","w")

In [50]:
f.write("asdj jhfguiqh qfjq")

18

In [51]:
f.close()

In [53]:
f=open("test2.txt","r")

In [54]:
f.read()

'asdj jhfguiqh qfjq\nfg\nqregqerhq\neheq\ngq\nqgegthrw\nrhr\nwrg\nrgwetgwetq\nwegwer\ngbgwehb\nryhw\nqrgwth6rweqfw\nvf\ngwetrt5r\nq\nqrgtw\neyq34y6wgyh6ujrmj\nykirtgwvacdas\n\nfgue\ntsbw\nh\nfgwth\n6\n gwh\n '

In [55]:
f.seek(0)

0

In [56]:
f.readline()

'asdj jhfguiqh qfjq\n'

In [57]:
f.readline()

'fg\n'

In [58]:
f.readline(9)

'qregqerhq'

In [64]:
f.close()

In [65]:
f=open("test2.txt","r")

In [66]:
for i in f:
    print(i)

asdj jhfguiqh qfjq

fg

qregqerhq

eheq

gq

qgegthrw

rhr

wrg

rgwetgwetq

wegwer

gbgwehb

ryhw

qrgwth6rweqfw

vf

gwetrt5r

q

qrgtw

eyq34y6wgyh6ujrmj

ykirtgwvacdas



fgue

tsbw

h

fgwth

6

 gwh

In [67]:
f.seek(0)

0

In [68]:
for i in f:
    print(i,end=" ")

asdj jhfguiqh qfjq
 fg
 qregqerhq
 eheq
 gq
 qgegthrw
 rhr
 wrg
 rgwetgwetq
 wegwer
 gbgwehb
 ryhw
 qrgwth6rweqfw
 vf
 gwetrt5r
 q
 qrgtw
 eyq34y6wgyh6ujrmj
 ykirtgwvacdas

 fgue
 tsbw
 h
 fgwth
 6
  gwh

In [69]:
f.close()

In [71]:
f=open("test2.txt","r")

In [72]:
list(f)

['asdj jhfguiqh qfjq\n',
 'fg\n',
 'qregqerhq\n',
 'eheq\n',
 'gq\n',
 'qgegthrw\n',
 'rhr\n',
 'wrg\n',
 'rgwetgwetq\n',
 'wegwer\n',
 'gbgwehb\n',
 'ryhw\n',
 'qrgwth6rweqfw\n',
 'vf\n',
 'gwetrt5r\n',
 'q\n',
 'qrgtw\n',
 'eyq34y6wgyh6ujrmj\n',
 'ykirtgwvacdas\n',
 '\n',
 'fgue\n',
 'tsbw\n',
 'h\n',
 'fgwth\n',
 '6\n',
 ' gwh\n',
 ' ']

In [73]:
f.close()

In [76]:
f=open("test2.txt","r+")  ## r+ is read write mode

In [77]:
f.writelines("ADADGFG DGGF GDH HFJHG") ## it will write line where cursor is present

In [79]:
f.close()

In [80]:
f=open("test2.txt","r+")

In [81]:
f.read()

'ADADGFG DGGF GDH HFJHGqregqerhq\neheq\ngq\nqgegthrw\nrhr\nwrg\nrgwetgwetq\nwegwer\ngbgwehb\nryhw\nqrgwth6rweqfw\nvf\ngwetrt5r\nq\nqrgtw\neyq34y6wgyh6ujrmj\nykirtgwvacdas\n\nfgue\ntsbw\nh\nfgwth\n6\n gwh\n '

In [87]:
f.fileno()  ## gives file descripter integer

4

## another way to open a txt file

In [83]:
%%writefile text5.txt
my name is sudh

Writing text5.txt

In [86]:
f.fileno()

4

In [90]:
import os

In [89]:
pwd() ## gives location of present working directory of jupyter notebook

'D:\\Tarun\\ineuron'

In [92]:
os.getcwd()  ## gives location of present working directory of jupyter notebook

'D:\\Tarun\\ineuron'

In [94]:
os.listdir()  ## list of files and folders present in the directory

['.ipynb_checkpoints',
 'practise.ipynb',
 'python basic assignment',
 'python programming basic assignment',
 'test.txt',
 'test2.txt',
 'text5.txt',
 'Untitled.ipynb']

In [95]:
os.listdir("D:\\Tarun")

['All-App-Files',
 'arwbackup',
 'data science',
 'doc',
 'id card generation',
 'ineuron',
 'mia1 11-10-2020',
 'quick heal']

In [96]:
os.listdir("D:\Tarun")

['All-App-Files',
 'arwbackup',
 'data science',
 'doc',
 'id card generation',
 'ineuron',
 'mia1 11-10-2020',
 'quick heal']

In [97]:
os.listdir("D:/Tarun")

['All-App-Files',
 'arwbackup',
 'data science',
 'doc',
 'id card generation',
 'ineuron',
 'mia1 11-10-2020',
 'quick heal']

## now changing directory

In [98]:
os.chdir("D:\Tarun\data science")

In [99]:
pwd()

'D:\\Tarun\\data science'

In [100]:
os.listdir()

['.ipynb_checkpoints',
 'df_pickle',
 'EDA1-master',
 'Excel_sample.xlsx',
 'Exploratory Data Analysis (EDA).ipynb',
 'Functions in Python.ipynb',
 'List Comprehension.ipynb',
 'MatplotLib.ipynb',
 'mercedesbenz.csv',
 'Numpy lecture.ipynb',
 'Pandas, Data frames and data series.ipynb',
 'practise.ipynb',
 'Python introduction.ipynb',
 'Seaborn Tutorial.ipynb',
 'String Formatting in Python.ipynb',
 'Test1.csv',
 'tips.csv',
 'titanic_train.csv']

In [102]:
os.chdir("D:/Tarun")

In [103]:
os.getcwd()

'D:\\Tarun'

In [104]:
os.listdir()

['All-App-Files',
 'arwbackup',
 'data science',
 'doc',
 'id card generation',
 'ineuron',
 'mia1 11-10-2020',
 'quick heal']

## making new directory

In [105]:
os.mkdir("sudh")

In [106]:
os.listdir()

['All-App-Files',
 'arwbackup',
 'data science',
 'doc',
 'id card generation',
 'ineuron',
 'mia1 11-10-2020',
 'quick heal',
 'sudh']

In [110]:
os.chdir("D:\Tarun\ineuron")

In [111]:
if "test2.txt" in os.listdir():
    print("my file is available in this directory")
else:
    print("no this file is not available in current directory")

my file is available in this directory

In [112]:
if "test2.txt" in os.listdir():
    print("my file is available in this directory")
    f=open("test2.txt","r+")
    print(f)
else:
    print("no this file is not available in current directory")

my file is available in this directory
<_io.TextIOWrapper name='test2.txt' mode='r+' encoding='cp1252'>

In [114]:
if "test2.txt" in os.listdir():
    print("my file is available in this directory")
    f=open("test2.txt","r+")
    for i in f:
        print(i,end=" ")
else:
    print("no this file is not available in current directory")

my file is available in this directory
ADADGFG DGGF GDH HFJHGqregqerhq
 eheq
 gq
 qgegthrw
 rhr
 wrg
 rgwetgwetq
 wegwer
 gbgwehb
 ryhw
 qrgwth6rweqfw
 vf
 gwetrt5r
 q
 qrgtw
 eyq34y6wgyh6ujrmj
 ykirtgwvacdas

 fgue
 tsbw
 h
 fgwth
 6
  gwh

In [116]:
os.mkdir("sudh")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'sudh'

In [120]:
if not os.path.isdir("sudh"):
    os.mkdir("sudh")

In [121]:
os.rename("sudh","xyz")

## removing directory

In [123]:
os.rmdir("xyz")

In [124]:
## moving files from one directory to another

In [134]:
import shutil

In [136]:
shutil.move("D:\Tarun\sudh","D:\Tarun\sudh1")

'D:\\Tarun\\sudh1\\sudh'

In [137]:
pwd()

'D:\\Tarun\\ineuron'

In [138]:
os.chdir("D:\Tarun\sudh1\sudh")

In [139]:
pwd()

'D:\\Tarun\\sudh1\\sudh'

In [140]:
os.listdir()

['qwe.txt']

In [153]:
## ques 1 - create a new directory

## ques 2 - create 10 txt file inside directory and write some data into file at same time

## ques 3 - Read all the data from all the files and print in console

## ques 4 - Hold all the data in list

## ques 5 - Write all data in new file from list

## ques 6 - keeping only new file in present directory and moving rest in new directory

In [ ]:
os.mkdir("steve")
os.chdir(os.getcwd()+"\steve")
for i in range(10):
    file="test"+str(i)+".txt"
    f=open(file,"w")
    f.write("my name is steve dias")
    f.close()
    
for i in range(10):
    file="test"+str(i)+".txt"
    f=open(file,"r")
    data=f.read()
    f.close()
    print(data)
    
l=[]
for i in range(10):
    file="test"+str(i)+".txt"
    f=open(file,"r")
    l.append(f.read())
    f.close()
print(l)

f=open("new_file.txt","w")
for i in l:
    f.write(i)
    f.close()

# Logging

In [5]:
import logging

In [1]:
import logging as lg

In [2]:
import os

In [3]:
os.getcwd()

'D:\\Tarun\\ineuron'

In [4]:
os.mkdir("logging")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'logging'

In [3]:
os.chdir("D:\Tarun\ineuron\logging")

In [4]:
os.getcwd()

'D:\\Tarun\\ineuron\\logging'

In [7]:
lg.basicConfig(filename = "test.log" ,level=lg.INFO)

In [8]:
lg.info("i am going to start my programme")

In [9]:
lg.warning("this is the first warning of my programme to modify it ")

In [10]:
lg.error("this is message for error")

In [7]:
lg.basicConfig(filename="test.log",level=lg.INFO,format= '%(asctime)s %(message)s')

In [8]:
lg.info("i am going to start my programme")

In [9]:
lg.error("this is message for error")

In [9]:
lg.basicConfig(filename="test1.log",level=lg.INFO,format="%(asctime)s %(message)s")
def test(a,b):
    lg.info("This is start of function")
    return(a+b)

In [10]:
test(5,6)

11

## shutting down logging

In [12]:
lg.shutdown()

In [13]:
lg.debug("this is for debugging")
lg.info("this is info log")
lg.warning("this is my warning log")
lg.error("this is my error log")
lg.exception("this is my exception log")
lg.critical("this is my critical log")

In [6]:
def add(n):
    result=0
    for i in range(0,n+1):
        while(i<=n):
            result=result+i
            break   
    return(result)

In [7]:
add(5)

15

In [7]:
def addition(*args):
    lg.basicConfig(filename="test2.log",level=lg.INFO,format="%(asctime)s %(message)s")
    lg.info("This is my addition function")
    sum=0
    for i in args:
        lg.info(str(i))
        sum=sum+i
    return sum

addition(1,2,3,4)
f=open("test2.log","r")
print(f.read())

2021-10-10 20:15:55,538 This is my addition function
2021-10-10 20:17:05,335 This is my addition function
2021-10-10 20:17:05,335 1
2021-10-10 20:17:05,336 2
2021-10-10 20:17:05,336 3
2021-10-10 20:17:05,336 4

In [8]:
f.close()

In [7]:
lg.basicConfig(filename="test3.log",level=lg.INFO,format="%(asctime)s %(message)s")
def log_sum(*args):
    lg.info("inside sum function")
    lg.info("user input"+str(args))
    return sum(args)

log_sum(1,2,3,4,5,6,7,8,9,10)

#print log file data
if os.path.exists("test3.log"):
    f=open("test3.log","r")
    print(f.read())
    f.close()

2021-10-10 20:28:22,588 inside sum function
2021-10-10 20:28:22,588 user input(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Stream Handler

In [9]:
logging.basicConfig(filename="app3.log",level=logging.INFO,format="%(asctime)s %(message)s")

In [7]:
console_log=logging.StreamHandler()
console_log.setLevel(logging.INFO)

In [8]:
format="%(asctime)s %(levelname)s %(message)s"

In [9]:
console_log.setFormatter(format)

In [10]:
logging.getLogger('').addHandler(console_log)

In [11]:
logging.info("This is my first test code for log")

%(asctime)s %(levelname)s %(message)s

In [12]:
logger1 = logging.getLogger('logger1.area1')
logger2 = logging.getLogger('logger1.area1')

In [13]:
logger1.info("This is info for logger one")
logger2.debug("This is info for logger two")
logger2.info("This is info for logger two")

%(asctime)s %(levelname)s %(message)s
%(asctime)s %(levelname)s %(message)s

In [9]:
logging.basicConfig(filename="app4.log",level=logging.INFO,format="%(asctime)s %(message)s",filemode="w")

In [10]:
console_log=logging.StreamHandler()
console_log.setLevel(logging.DEBUG)
format=logging.Formatter("%(asctime)s %(levelname)s %(message)s")
console_log.setFormatter(format)
logging.getLogger('').addHandler(console_log)
logging.info("This is my first test code for log")
logger1 = logging.getLogger('logger1.area1')
logger2 = logging.getLogger('logger1.area1')
logger1.info("This is info for logger one")
logger2.debug("This is info for logger two")
logger2.info("This is info for logger two")

2021-10-12 21:26:52,846 INFO This is my first test code for log
2021-10-12 21:26:52,874 INFO This is info for logger one
2021-10-12 21:26:52,880 INFO This is info for logger two

# Debugging

In [14]:
def testdebug():
    l=[]
    for i in range(10):
        l.append(i)
        print("We have appended your data in list")
    return l

In [15]:
testdebug()

We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
import ipdb

ModuleNotFoundError: No module named 'ipdb'

In [17]:
pip install ipdb

Collecting ipdbNote: you may need to restart the kernel to use updated packages.
  Downloading ipdb-0.13.9.tar.gz (16 kB)
Requirement already satisfied: setuptools in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipdb) (50.3.1.post20201107)
Requirement already satisfied: ipython>=7.17.0 in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipdb) (7.19.0)
Collecting toml>=0.10.2
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: decorator in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipdb) (4.4.2)
Requirement already satisfied: pygments in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (2.7.2)
Requirement already satisfied: jedi>=0.10 in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (0.17.1)
Requirement already satisfied: colorama; sys_platform == "win32" in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (0.4.4)
Requirement already satisfied: backcall in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (0.2.0)

Requirement already satisfied: traitlets>=4.2 in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (3.0.8)
Requirement already satisfied: pickleshare in d:\tarun\all-app-files\anaconda\lib\site-packages (from ipython>=7.17.0->ipdb) (0.7.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in d:\tarun\all-app-files\anaconda\lib\site-packages (from jedi>=0.10->ipython>=7.17.0->ipdb) (0.7.0)
Requirement already satisfied: ipython-genutils in d:\tarun\all-app-files\anaconda\lib\site-packages (from traitlets>=4.2->ipython>=7.17.0->ipdb) (0.2.0)
Requirement already satisfied: wcwidth in d:\tarun\all-app-files\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.17.0->ipdb) (0.2.5)
Building wheels for collected packages: ipdb
  Building wheel for ipdb (setup.py): started
  Building wheel for ipdb (setup.py): finished with status 'done'
  Created wheel for ipdb: filename=ipdb-0.13.9-py3-none-any.whl size=11623 sha256=5526214889aa3dbea9c241441cf69f7c3921cfbe29fe1dc805811e18e5f63490
  Stored in directory: c:\users\pr\appdata\local\pip\cache\wheels\d8\51\8c\3dceedacfd0f743f3736b3840d08b6746b6259deea98207ba4
Successfully built ipdb
Installing collected packages: toml, ipdb
  Attempting uninstall: toml
    Found existing installation: toml 0.10.1
    Uninstalling toml-0.10.1:
      Successfully uninstalled toml-0.10.1
Successfully installed ipdb-0.13.9 toml-0.10.2

In [1]:
import ipdb

In [19]:
def testdebug():
    ipdb.set_trace()
    l=[]
    for i in range(10):
        l.append(i)
        print("We have appended your data in list")
    return l

In [20]:
testdebug()

> <ipython-input-19-44138b267dc7>(3)testdebug()
      2     ipdb.set_trace()
----> 3     l=[]
      4     for i in range(10):

ipdb> h

Documented commands (type help <topic>):
========================================
EOF    cl         disable  interact  next    psource  rv           undisplay
a      clear      display  j         p       q        s            unt
alias  commands   down     jump      pdef    quit     skip_hidden  until
args   condition  enable   l         pdoc    r        source       up
b      cont       exit     list      pfile   restart  step         w
break  continue   h        ll        pinfo   return   tbreak       whatis
bt     d          help     longlist  pinfo2  retval   u            where
c      debug      ignore   n         pp      run      unalias

Miscellaneous help topics:
==========================
exec  pdb

ipdb> next
> <ipython-input-19-44138b267dc7>(4)testdebug()
      3     l=[]
----> 4     for i in range(10):
      5         l.append(i)

ipdb> next
> <ipython-input-19-44138b267dc7>(5)testdebug()
      4     for i in range(10):
----> 5         l.append(i)
      6         print("We have appended your data in list")

ipdb> next
> <ipython-input-19-44138b267dc7>(6)testdebug()
      5         l.append(i)
----> 6         print("We have appended your data in list")
      7     return l

ipdb> next
We have appended your data in list
> <ipython-input-19-44138b267dc7>(4)testdebug()
      3     l=[]
----> 4     for i in range(10):
      5         l.append(i)

ipdb> next
> <ipython-input-19-44138b267dc7>(5)testdebug()
      4     for i in range(10):
----> 5         l.append(i)
      6         print("We have appended your data in list")

ipdb> next
> <ipython-input-19-44138b267dc7>(6)testdebug()
      5         l.append(i)
----> 6         print("We have appended your data in list")
      7     return l

ipdb> nxt
*** NameError: name 'nxt' is not defined
ipdb> next
We have appended your data in list
> <ipython-input-19-44138b267dc7>(4)testdebug()
      3     l=[]
----> 4     for i in range(10):
      5         l.append(i)

ipdb> next
> <ipython-input-19-44138b267dc7>(5)testdebug()
      4     for i in range(10):
----> 5         l.append(i)
      6         print("We have appended your data in list")

ipdb> next
> <ipython-input-19-44138b267dc7>(6)testdebug()
      5         l.append(i)
----> 6         print("We have appended your data in list")
      7     return l

ipdb> next
We have appended your data in list
> <ipython-input-19-44138b267dc7>(4)testdebug()
      3     l=[]
----> 4     for i in range(10):
      5         l.append(i)

ipdb> i
2
ipdb> c
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list
We have appended your data in list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Modules and Exception

In [11]:
import math  ## importing math module

In [12]:
math.sqrt(4)

2.0

In [13]:
from math import sqrt

In [14]:
sqrt(4)

2.0

In [15]:
from math import sqrt , pi

In [16]:
pi

3.141592653589793

In [17]:
from math import *  ## it will import all things in math

In [18]:
sin(0)

0.0

## Creating our own module like math module

In [24]:
import test1  ## importing test1.py file

This is my first ever module

In [26]:
import test1 ## not show anything because test1 already imported.

In [27]:
import imp

In [29]:
imp.reload(test1)  ## reloading test1 module

This is my first ever module

In [30]:
import addition

In [32]:
addition.addition1(2,3)   ## it will show addition1 function on pressing tab

5

# Exception Handling

In [1]:
def test1():
    print("gdgfgfgh)

SyntaxError: EOL while scanning string literal (<ipython-input-1-9bd4739d3d77>, line 2)

In [2]:
def test(a,b):
    return a/b

In [3]:
test(5,0)

ZeroDivisionError: division by zero

In [4]:
# exception handling is used to handle exception and error.

In [5]:
a=open("test.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [6]:
try:
    a=open("test.txt","r")

SyntaxError: unexpected EOF while parsing (<ipython-input-6-d7e5290c9243>, line 2)

In [7]:
try:
    a=open("test.txt","r")
except:
    pass

In [3]:
try:
    a=open("test.txt","r"   ## it will show error because we can not handle syntectical or compile time error with exception handling
except:   ## only we can handle runtime error with it
    pass

SyntaxError: invalid syntax (<ipython-input-3-14f1b536451a>, line 3)

In [4]:
try:
    a=open("test.txt","r")
except:
    print("there is some issue with my code")

there is some issue with my code

In [8]:
try:
    a=5/0
except IOError:
    print("there is some issue with my code")
## showing error bcoz error comes under arithmetic error not in input output error.

ZeroDivisionError: division by zero

In [9]:
try:
    a=5/0
except ArithmeticError:
    print("there is some issue with my code")
## not showing error bcoz error comes under arithmetic error.

there is some issue with my code

In [10]:
try:
    a=5/0
except ArithmeticError as e:
    print("there is some issue with my code",e)

there is some issue with my code division by zero

In [11]:
try:
    a=5/4
except ArithmeticError as e:
    print("there is some issue with my code",e)
else:
    print("this will execute once try will execute with success")

this will execute once try will execute with success

In [12]:
try:
    a=int(input("enter the first no"))
    b=int(input("enter the second no"))
    c=a/b
except ArithmeticError as e:
    print("there is some issue with my code",e)
else:
    print("this will execute once try will execute with success")
    try:
        f=open("test.txt","r")
    except:
        print("this is an issue with internal try block")

enter the first no4
enter the second no6
this will execute once try will execute with success
this is an issue with internal try block

In [3]:
l=[4,5,6,7,8,9,0]

In [2]:
l[100]

IndexError: list index out of range

In [5]:
l=[4,5,6,7,8,9,0]
print(l[100])
t=(4,5,6,7,7,8,9)
print(t)

IndexError: list index out of range

In [7]:
try:
    l=[4,5,6,7,8,9,0]
    l[100]
except:
    print("There is an issue with my code")
    t=(4,5,6,7,7,8,9)
    print(t)
else:
    print("There is no issue with my code")

There is an issue with my code
(4, 5, 6, 7, 7, 8, 9)

In [5]:
try:
    f=open("test.txt","r")
finally:
    print("i will execute in any case")
    l=[4,5,6,7]
    print(l[0])

i will execute in any case
4

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [7]:
try:
    f=open("test.txt","r")
except:
    pass
else:
    print("else will execute if try will execute with suc")
finally:
    print("i will execute in any case")
    l=[4,5,6,7]
    try:
        print(l[10])
    except:
        pass

i will execute in any case

In [8]:
try:
    f=open("test.txt","w+")
except:
    pass
else:
    print("else will execute if try will execute with suc")
finally:
    print("i will execute in any case")
    l=[4,5,6,7]
    try:
        print(l[10])
    except:
        pass

else will execute if try will execute with suc
i will execute in any case

In [2]:
def askforinteger():
    while True:
        try:
            a=int(input("enter a integer"))
        except Exception as e:
            print("this is my error msg",e)
        else:
            print("person has entered a correct value")
        finally:
            print("close this issue")

In [ ]:
askforinteger()

enter a integergh
this is my error msg invalid literal for int() with base 10: 'gh'
close this issue

In [3]:
def askforinteger():
    while True:
        try:
            a=int(input("enter a integer"))
        except Exception as e:
            print("this is my error msg",e)
        else:
            print("person has entered a correct value")
            break
        finally:
            print("close this issue")

In [4]:
askforinteger()

enter a integerhg
this is my error msg invalid literal for int() with base 10: 'hg'
close this issue
enter a integer7
person hasentered a correct value
close this issue

In [3]:
def askforinteger():
    while True:
        try:
            a=int(input("enter a integer"))
            c=8/a
        except FileNotFoundError as e:
            print("this is my error msg",e)
        except IOError as e:
            print(e)
        except ValueError as e:
            print(e)
        except Exception as e:
            print("This is coming from parent class",e)
        except ArithmeticError as e:
            print("This is a arithmetic error")
        except ZeroDivisionError as e:
            print(e)
        else:
            print("person has entered a correct value")
            break
        finally:
            print("close this issue")

In [ ]:
askforinteger()

enter a integer0
This is coming from parent class division by zero
close this issue

# Creating Custom Exception

In [2]:
  5/0

ZeroDivisionError: division by zero

In [3]:
5/6

0.8333333333333334

In [13]:
def create_your_exception(a):
    if a==6:
        raise Exception("error is",a)
    else:
        print("input is ok")
    return a

In [15]:
try:
    create_your_exception(6)
except Exception as e:
    print(e)

('error is', 6)

# Class and Objects

In [2]:
class car:
    pass

In [3]:
audiq7=car()

In [4]:
audiq7

In [5]:
audiq7.mileage =10
audiq7.year=2020
audiq7.make=345
audiq7.model="fsdf"

In [6]:
audiq7.mileage

10

In [7]:
nano=car()

In [9]:
nano.mileage=20
nano.year=2020
nano.make=235
nano.model="fgfh"
nano.engineno=3676877897

In [10]:
print(nano.mileage,audiq7.mileage)

20 10

In [12]:
class car:
    def __init__(self,mileage,year,make,model):
        self.mileage=mileage
        self.year=year
        self.make=make
        self.model=model

In [13]:
nano1=car()

TypeError: __init__() missing 4 required positional arguments: 'mileage', 'year', 'make', and 'model'

In [16]:
nano1=car(20,2020,235,"fgfh")
audiq71=car(10,2020,456,"hfhgh")

In [17]:
nano1.mileage

20

In [18]:
class car:
    def __init__(a,m,y,ma,mo):
        a.mileage=m
        a.year=y
        a.make=ma
        a.model=mo

In [19]:
nano1=car(20,2020,235,"fgfh")
audiq71=car(10,2020,456,"hfhgh")

In [22]:
nano1.m

AttributeError: 'car' object has no attribute 'm'

In [23]:
nano1.mileage

20

In [17]:
class car:
    def __init__(a,m,y,ma,mo):
        a.mileage=m
        a.year=y
        a.make=ma
        a.model=mo
    def age(self,current_year):
        return current_year-self.year
    def mileage1(self):
        print("print a mileage of car",self.mileage)

In [18]:
nano67=car(20,2020,235,"fgfh")

In [19]:
nano67.age(2021)

1

In [20]:
nano67.mileage1()

print a mileage of car 20

In [22]:
print(nano67)

<__main__.car object at 0x0000000007EAAEE0>

In [20]:
class car:
    def __init__(a,m,y,ma,mo):
        a.mileage=m
        a.year=y
        a.make=ma
        a.model=mo
    def age(self,current_year):
        return current_year-self.yentar
    def mileage1(self):
        print("print a mileage of car",self.mileage)
    def __str__(c):
        return "This is my car class i have created"

In [21]:
nano67=car(20,2020,235,"fgfh")

In [22]:
print(nano67)

This is my car class i have created

In [1]:
class student:
    def __init__(self,name,rollno,joining_date,current_topic,):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
        
    def name_Parsing(self):
        if type(self.name)==list:
            for i in self.name:
                print("name of student",i)
        
    def crt_topic(self): 
        print("current topic discussed in my class is",self.current_topic)
    
    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                print("Do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print("This is my error msg",e)
            
    def duration(self,current_date):
        print("Duration of student in my class is ",current_date-self.joining_date)
        
        
    def __str__(self):
        return "this is student class where they can try to input their own data and they can try to fetch it"

In [2]:
srini = student("srini",6756,2021,"oops")

In [3]:
srini.duration(2021)

Duration of student in my class is  0

In [4]:
srini.str_rollno()

'6756'

In [5]:
print(srini)

this is student class where they can try to input their own data and they can try to fetch it

In [6]:
pawan = student(["naveen","jay","himanshu","prakash"],[345,766,345,987],2021,"oops")

In [7]:
pawan.name_Parsing()

name of student naveen
name of student jay
name of student himanshu
name of student prakash

In [12]:
pawan.name

['naveen', 'jay', 'himanshu', 'prakash']

In [14]:
srini.name

'srini'

In [28]:
import logging as lg
lg.basicConfig(filename="oops.log",level=lg.ERROR)

class data:
    def __init__(self,name,Type,date,size):
        self.name=name
        self.Type=Type
        self.date=date
        self.size=size
        
    def file_open(self):
        import os
        try:
            if not self.name in os.listdir():
                f=open(self.name,"w+")
                f.write("This is file with name")
                f.close()
        except Exception as e:
            self.logging(e)
            
    def file_read(self):
        try:
            f=open(self.name,"r")
            f.seek(0)
            print(f.read())
            f.close()
        except Exception as e:
            self.logging(e)
            
    def file_append(self):
        try:
            f=open(self.name,"a")
            f.write("This is appended data in file")
            f.close()
        except Exception as e:
            self.logging(e)
            
    def logging(self,log):
        lg.error(log)
        
file1=data("file1.txt","txt","2019","1mb")
file1.file_open()
file1.file_read()
file1.file_append()

This is file with nameThis is appended data in file

# Abstraction

In [2]:
class test:
    def __init__(self,a,b,c,d):
        self.a=a
        self.b=b
        self.c=c
        self.d=d
    def test_custome(self,v):
        return v-self.a
    def __str__(self):
        return "This is my test code for abstraction"

In [14]:
o=test(4,5,6,7)

In [8]:
o.test_custome(7)

3

In [9]:
print(o)

This is my test code for abstraction

In [17]:
class test1:
    def __init__(self,a,b,c,d):
        self._a=a
        self.b=b
        self.c=c
        self.d=d
    def test_custome(self,v):
        return v-self._a
    def __str__(self):
        return "This is my test code for abstraction"

In [18]:
o=test1(4,5,6,7)

In [19]:
o.a

AttributeError: 'test1' object has no attribute 'a'

In [20]:
o._a

4

In [9]:
class test2:
    def __init__(self,a,b,c,d):
        self.__a=a
        self.b=b
        self.c=c
        self.d=d
    def test_custome(self,v):
        return v-self.__a
    def __str__(self):
        return "This is my test code for abstraction"

In [24]:
o=test2(4,5,6,7)

In [25]:
o._a

AttributeError: 'test2' object has no attribute '_a'

In [26]:
o.__a

AttributeError: 'test2' object has no attribute '__a'

In [29]:
o._test2__a  ## called a hidden variable a, this is called abstraction

4

# Inheritence

In [6]:
# inheritence allows to inherit the property of parent class into a child class

In [10]:
class test3(test2):              ## test3 = child class , test = parent class
    def __init__(self,j,*args):
        super(test3,self).__init__(*args)
        self.j=j
m=test3(4,5,6,7,8)
m.b

6

In [11]:
m.j

4

In [12]:
m.test_custome(8)

3

In [13]:
m.b

6

In [14]:
m.c

7

# task

1. create class test and test1
2. inherit test and test1 in test 2
3. function a in test
4. function a in test1
5. test2 should inherit function a from test and test1 both

In [4]:
class rest:
    def __init__(self,m):
        self.m=m
    def a(self,n):
        return "this belongs to rest"
    
    
class rest1(rest):
    def __init__(self,o):
        super(rest1,self).__init__(o)
        self.o=o
    def a(self,p):
        return "this belongs to rest1"
    
    
class rest2(rest1,rest):
    def __init__(self,o):
        super(rest2,self).__init__(o)
        self.o=o
    def a(self,p):
        return "this belongs to rest2"

In [11]:
t=rest2(4)
t.a(1)

'this belongs to rest2'

In [3]:
# example
class Ineuron:
    company_website = 'http://ineuron.ai/'
    name='iNeuron'
    
    def contact_details(self):
        print('Contact us at',self.company_website)
        

class Datascience(Ineuron):
    def __init__(self):
        self.year_of_establishment=2018
        
        
    def est_details(self):
        print('{0} Company was established in {1}'
             .format(self.name,self.year_of_establishment))
        
ds = Datascience()
ds.est_details()
 # i am calling Datascience but getting name ineuron from ineuron class bcoz i have done inheritence  
 # without super because i am not initialising anything

iNeuron Company was established in 2018

In [5]:
#example multiple inheritence
class OS:
    multi_task = True
    os_name = 'Windows OS'

class windows(OS,Ineuron):
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
        

windows = windows()
#inheriting name from ineuron class

multi_task
Name: iNeuron

In [6]:
#example multiple inheritence
class OS:
    multi_task = True
    os_name = 'Windows OS'
    name='sudh'

class windows(OS,Ineuron): #it is taking name from OS class because 1st priority is given to OS and name is present in it.
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
        

windows = windows()

multi_task
Name: sudh

In [8]:
#example multiple inheritence
class OS:
    multi_task = True
    os_name = 'Windows OS'
    name='sudh'

class windows(Ineuron,OS): #it is taking name from ineuron class bcoz 1st priority is given to ineuron and name is in it.
    def __init__(self):
        if self.multi_task is True:
            print('multi_task')
        print('Name: {}'.format(self.name))
        

windows = windows()

multi_task
Name: iNeuron

In [10]:
#example multilevel inheritence
class iNeuron:
    num_of_courses = 12
    
    
class Datascience(iNeuron): 
    course_type = 'iNeuron'
    
class AI(Datascience):
    def __init__(self):
        self.company='iNeuron'
        print('The company {0} offers total {1} different types of courses.Most trending course is {2}'.format(self.company,self.num_of_courses,self.course_type))
AI=AI()

The company iNeuron offers total 12 different types of courses.Most trending course is iNeuron

# Encapsulation

In [2]:
# encapsulation is a another way of reutilising the function of parent class without exposing the implementation of parent class.

In [7]:
class test:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return 'This is the return from my test class'
    
class test1:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return 'This is the return from my test1 class'
    
class test2:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return 'This is the return from my test2 class'

class final:
    def __init__(self,x,y,z):
        self.x=x
        self.y=y
        self.z=z
    def __str__(self):
        return 'This is the return from my final class'+str(self.x)+" "+str(self.y)+" "+str(self.z)

In [8]:
t=test(4,5,6)
t1=test1(3,4,5)
t2=test2(5,6,7)
f=final(t,t1,t2)

In [9]:
print(f)

This is the return from my final classThis is the return from my test class This is the return from my test1 class This is the return from my test2 class

In [10]:
class parent:
    a=10
    b=40
    def __init__(self,parent_a,parent_b):
        self.parent_a=parent_a
        self.parent_b=parent_b

class child(parent):
    print(a)

NameError: name 'a' is not defined

In [11]:
class parent:
    a=10
    b=40
    def __init__(self,parent_a,parent_b):
        self.parent_a=parent_a
        self.parent_b=parent_b

class child():
    print(parent.a)

10

_a is protected variable and __a is private variable

In [17]:
class parent:
    a=10
    b=40
    def __init__(self,parent_a,parent_b):
        self.parent_a=parent_a
        self.parent_b=parent_b

class child(parent):
    def __init__(self,*args):
        super(child,self).__init__(*args)

In [13]:
class Dog:
    def __init__(self,name,year_of_birth,breed):
        self._name=name
        self._year_of_birth=year_of_birth
        self._breed=breed
        
    def __str__(self):
        return "%s is a %s born in %d."%(self._name,self._breed,self._year_of_birth)

kudrjavka = Dog("kudrjavka",1954,"laika")
print(kudrjavka)
dog1=Dog("german",565,"coco")
print(dog1)

kudrjavka is a laika born in 1954.
german is a coco born in 565.

In [5]:
class student:
    def __init__(self,name,student_id,school_name,address):
        self.name=name
        self.student_id = student_id
        self.school_name=school_name
        self.address=address
        
    def __str__(self):
        return str(self.name)+" "+str(self.student_id)+" "+str(self.school_name)+" "+str(self.address)

In [6]:
stu =student("sudh",454,"iNeuron","xyz")
print(stu)

sudh 454 iNeuron xyz

In [14]:
dog=student(kudrjavka,45,"dog_school","ghgh")
print(dog)
dog1=student(dog1,45,"dog_school","gfgf")
print(dog1)

kudrjavka is a laika born in 1954. 45 dog_school ghgh
german is a coco born in 565. 45 dog_school gfgf

# operator overloading

In [3]:
class multiplynumeric():
    def __init__(self,a):
        self.a=a

In [4]:
mul=multiplynumeric(9)
mul1=multiplynumeric(2)

In [5]:
mul*mul1

TypeError: unsupported operand type(s) for *: 'multiplynumeric' and 'multiplynumeric'

In [8]:
mul

In [9]:
mul.a*mul1.a

18

In [1]:
class multiplynumeric():
    def __init__(self,a):
        self.a=a
        
    def __mul__(self,other):
        return self.a*other.a

In [2]:
nul=multiplynumeric(10)
nul1=multiplynumeric(2)

In [3]:
nul*nul1

20

In [5]:
class multiplynumeric():
    def __init__(self,a):
        self.a=a
        
    def __mul__(self,other):
        return self.a+other.a # plus  This is called operator overloading

In [6]:
nul=multiplynumeric(10)
nul1=multiplynumeric(2)

In [7]:
nul*nul1

12

In [16]:
def test(a,b):
    return a+b

In [18]:
print(test(5,6))  # + behaving as plus operator
print(test("sudh","kumar")) # + behaving as concatination operator
print(test([3,4,5,6,7],[4,5,6,7]))# + behaving as appending operator

11
sudhkumar
[3, 4, 5, 6, 7, 4, 5, 6, 7]

In [19]:
## when same operator behaves differently then this concept is called as polymorphism

In [1]:
class ineuron:
    def msg(self):
        print("This is a msg to ineuron")
        
class xyz:
    def msg(self):
        print("This is a msg to xyz")

In [2]:
def test(notes):
    notes.msg()

In [3]:
i=ineuron()
x=xyz()

In [4]:
test(i)

This is a msg to ineuron

In [5]:
test(x)

This is a msg to xyz

# mysql

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\tarun\all-app-files\anaconda\lib\site-packages (8.0.27)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.19.1-cp38-cp38-win_amd64.whl (895 kB)
Installing collected packages: protobuf
Successfully installed protobuf-3.19.1

In [1]:
import mysql.connector as connection

In [ ]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)
    #check if connection is established
    
    query="SHOW DATABASES"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

In [12]:
connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [14]:
conn=connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [15]:
cur=conn.cursor()

In [16]:
cur.execute("show databases")

In [34]:
cur.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [17]:
res=cur.fetchall()

In [18]:
for i in res:
    print(i[0])  ## cursor should be at zero position

information_schema
mysql
performance_schema
sakila
sys
world

# Creating Dataase

In [19]:
conn=connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)
cur=conn.cursor()
cur.execute("create database sudhanshu12345")

In [8]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)
    #check if connection is established
    
    query="create database sudhanshu12345"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    
except Exception as e:
    mydb.close()
    print(str(e))

1007 (HY000): Can't create database 'sudhanshu12345'; database exists

# Creating table in database

In [2]:
mydb=connection.connect(host="localhost",database ="sudhanshu12345",user="root",passwd="mysql",use_pure=True)

In [3]:
mydb.is_connected()

True

In [4]:
cur=mydb.cursor()
cur.execute("create table test(x1 INT(5),x2 VARCHAR(20),x3 DATE)")

ProgrammingError: 1050 (42S01): Table 'test' already exists

In [9]:
cur.execute("insert into test values(4654,'sudh','2021-05-15')")

In [10]:
mydb.commit()

In [11]:
cur.execute("insert into test values(4664,'sudh','2021-05-15')")
cur.execute("insert into test values(8654,'sbvbudh','2021-05-15')")
cur.execute("insert into test values(48654,'sudh','2021-05-15')")
cur.execute("insert into test values(433654,'sudh','2021-05-15')")

In [12]:
mydb.commit()

# fetching data

In [14]:
cur1=mydb.cursor()
cur1.execute("select * from test")
cur1.fetchall()

[(4654, 'sudh', datetime.date(2021, 5, 15)),
 (4664, 'sudh', datetime.date(2021, 5, 15)),
 (8654, 'sbvbudh', datetime.date(2021, 5, 15)),
 (48654, 'sudh', datetime.date(2021, 5, 15)),
 (433654, 'sudh', datetime.date(2021, 5, 15))]

In [17]:
cur1=mydb.cursor()
cur1.execute("select * from test")
for i in cur1.fetchall():
    print(i)

(4654, 'sudh', datetime.date(2021, 5, 15))
(4664, 'sudh', datetime.date(2021, 5, 15))
(8654, 'sbvbudh', datetime.date(2021, 5, 15))
(48654, 'sudh', datetime.date(2021, 5, 15))
(433654, 'sudh', datetime.date(2021, 5, 15))

In [18]:
cur=mydb.cursor()
cur.execute("select x1,x2 from test")
for i in cur.fetchall():
    print(i)

(4654, 'sudh')
(4664, 'sudh')
(8654, 'sbvbudh')
(48654, 'sudh')
(433654, 'sudh')

# PANDAS

In [2]:
import pandas as pd

In [21]:
mydb

In [4]:
a=pd.read_sql("select x3,x1 from test",mydb)

In [5]:
a

           x3      x1
0  2021-05-15    4654
1  2021-05-15    4664
2  2021-05-15    8654
3  2021-05-15   48654
4  2021-05-15  433654

In [24]:
a.to_csv("mydata.csv")

# writing data fromcsv file to mysql table

In [3]:
mydb=connection.connect(host="localhost",database="sudhanshu12345",user="root",passwd="mysql",use_pure=True)
mydb

In [4]:
cur=mydb.cursor()
cur.execute("create table mydata(n1 int(20),n2 varchar(20),n3 date)")

In [6]:
data=pd.read_csv("mydata.csv")

In [7]:
data

   Unnamed: 0          x3      x1
0           0  2021-05-15    4654
1           1  2021-05-15    4664
2           2  2021-05-15    8654
3           3  2021-05-15   48654
4           4  2021-05-15  433654

In [8]:
data.to_sql('mydata',mydb)

D:\Tarun\All-App-Files\anaconda\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [2]:
import mysql.connector as connection
import pandas as pd
import csv
mydb=connection.connect(host="localhost",user="root",passwd="mysql",use_pure=True)

In [2]:
mydb

In [5]:
cur=mydb.cursor()
cur.execute("create table sudhanshu12345.glass(index_number int(10),Ri float(10,5),Na float(10,5),Mg float(10,5),Ai float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class float(10,5))")

In [15]:
with open("glass.csv","r") as data:
    next(data)
    data_csv=csv.reader(data,delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute('insert into sudhanshu12345.glass values ({data})'.format(data=(j)))
        print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x0000000008316BE0>
(0, ['1,1.52101,13.64,4.49,1.1,71.78,0.06,8.75,0,0,1'])
all the data inserted
(1, ['2,1.51761,13.89,3.6,1.36,72.73,0.48,7.83,0,0,1'])
all the data inserted
(2, ['3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0,0,1'])
all the data inserted
(3, ['4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0,0,1'])
all the data inserted
(4, ['5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0,0,1'])
all the data inserted
(5, ['6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0,0.26,1'])
all the data inserted
(6, ['7,1.51743,13.3,3.6,1.14,73.09,0.58,8.17,0,0,1'])
all the data inserted
(7, ['8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0,0,1'])
all the data inserted
(8, ['9,1.51918,14.04,3.58,1.37,72.08,0.56,8.3,0,0,1'])
all the data inserted
(9, ['10,1.51755,13,3.6,1.36,72.99,0.57,8.4,0,0.11,1'])
all the data inserted
(10, ['11,1.51571,12.72,3.46,1.56,73.2,0.67,8.09,0,0.24,1'])
all the data inserted
(11, ['12,1.51763,12.8,3.66,1.27,73.01,0.6,8.56,0,0,1'])
all the data inserted
(12, ['13,1.51589,12.88,3.43,1.4,73.28,0.69,8.05,0,0.24,1'])
all the data inserted
(13, ['14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0,0.17,1'])
all the data inserted
(14, ['15,1.51763,12.61,3.59,1.31,73.29,0.58,8.5,0,0,1'])
all the data inserted
(15, ['16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0,0,1'])
all the data inserted
(16, ['17,1.51784,12.68,3.67,1.16,73.11,0.61,8.7,0,0,1'])
all the data inserted
(17, ['18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0,0,1'])
all the data inserted
(18, ['19,1.51911,13.9,3.73,1.18,72.12,0.06,8.89,0,0,1'])
all the data inserted
(19, ['20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0,0.07,1'])
all the data inserted
(20, ['21,1.5175,12.82,3.55,1.49,72.75,0.54,8.52,0,0.19,1'])
all the data inserted
(21, ['22,1.51966,14.77,3.75,0.29,72.02,0.03,9,0,0,1'])
all the data inserted
(22, ['23,1.51736,12.78,3.62,1.29,72.79,0.59,8.7,0,0,1'])
all the data inserted
(23, ['24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0,0,1'])
all the data inserted
(24, ['25,1.5172,13.38,3.5,1.15,72.85,0.5,8.43,0,0,1'])
all the data inserted
(25, ['26,1.51764,12.98,3.54,1.21,73,0.65,8.53,0,0,1'])
all the data inserted
(26, ['27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0,0,1'])
all the data inserted
(27, ['28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0,0,1'])
all the data inserted
(28, ['29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0,0,1'])
all the data inserted
(29, ['30,1.51784,13.08,3.49,1.28,72.86,0.6,8.49,0,0,1'])
all the data inserted
(30, ['31,1.51768,12.65,3.56,1.3,73.08,0.61,8.69,0,0.14,1'])
all the data inserted
(31, ['32,1.51747,12.84,3.5,1.14,73.27,0.56,8.55,0,0,1'])
all the data inserted
(32, ['33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1'])
all the data inserted
(33, ['34,1.51753,12.57,3.47,1.38,73.39,0.6,8.55,0,0.06,1'])
all the data inserted
(34, ['35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0,0,1'])
all the data inserted
(35, ['36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0,0,1'])
all the data inserted
(36, ['37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0,1'])
all the data inserted
(37, ['38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0,0,1'])
all the data inserted
(38, ['39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0,0,1'])
all the data inserted
(39, ['40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0,0,1'])
all the data inserted
(40, ['41,1.51793,12.79,3.5,1.12,73.03,0.64,8.77,0,0,1'])
all the data inserted
(41, ['42,1.51755,12.71,3.42,1.2,73.2,0.59,8.64,0,0,1'])
all the data inserted
(42, ['43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0,0,1'])
all the data inserted
(43, ['44,1.5221,13.73,3.84,0.72,71.76,0.17,9.74,0,0,1'])
all the data inserted
(44, ['45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0,0.3,1'])
all the data inserted
(45, ['46,1.519,13.49,3.48,1.35,71.95,0.55,9,0,0,1'])
all the data inserted
(46, ['47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0,0.16,1'])
all the data inserted
(47, ['48,1.52667,13.99,3.7,0.71,71.57,0.02,9.82,0,0.1,1'])
all the data inserted
(48, ['49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0,0,1'])
all the data inserted
(49, ['50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0,0,1'])
all the data inserted
(50, ['51,1.5232,13.72,3.72,0.51,71.75,0.09,10.06,0,0.16,1'])
all the data inserted
(51, ['52,1.51926,13.2,3.33,1.28,72.36,0.6,9.14,0,0.11,1'])
all the data inserted
(52, ['53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0,0,1'])
all the data inserted
(53, ['54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0,0,1'])
all the data inserted
(54, ['55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0,0.09,1'])
all the data inserted
(55, ['56,1.51769,12.45,2.71,1.29,73.7,0.56,9.06,0,0.24,1'])
all the data inserted
(56, ['57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0,0.31,1'])
all the data inserted
(57, ['58,1.51824,12.87,3.48,1.29,72.95,0.6,8.43,0,0,1'])
all the data inserted
(58, ['59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0,0,1'])
all the data inserted
(59, ['60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0,0.11,1'])
all the data inserted
(60, ['61,1.51905,13.6,3.62,1.11,72.64,0.14,8.76,0,0,1'])
all the data inserted
(61, ['62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0,1'])
all the data inserted
(62, ['63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0,0.11,1'])
all the data inserted
(63, ['64,1.52227,14.17,3.81,0.78,71.35,0,9.69,0,0,1'])
all the data inserted
(64, ['65,1.52172,13.48,3.74,0.9,72.01,0.18,9.61,0,0.07,1'])
all the data inserted
(65, ['66,1.52099,13.69,3.59,1.12,71.96,0.09,9.4,0,0,1'])
all the data inserted
(66, ['67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0,0.17,1'])
all the data inserted
(67, ['68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0,0.17,1'])
all the data inserted
(68, ['69,1.52152,13.12,3.58,0.9,72.2,0.23,9.82,0,0.16,1'])
all the data inserted
(69, ['70,1.523,13.31,3.58,0.82,71.99,0.12,10.17,0,0.03,1'])
all the data inserted
(70, ['71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0,0.12,2'])
all the data inserted
(71, ['72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0,0.32,2'])
all the data inserted
(72, ['73,1.51593,13.09,3.59,1.52,73.1,0.67,7.83,0,0,2'])
all the data inserted
(73, ['74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0,0,2'])
all the data inserted
(74, ['75,1.51596,13.02,3.56,1.54,73.11,0.72,7.9,0,0,2'])
all the data inserted
(75, ['76,1.5159,13.02,3.58,1.51,73.12,0.69,7.96,0,0,2'])
all the data inserted
(76, ['77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0,0,2'])
all the data inserted
(77, ['78,1.51627,13,3.58,1.54,72.83,0.61,8.04,0,0,2'])
all the data inserted
(78, ['79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0,0.14,2'])
all the data inserted
(79, ['80,1.5159,12.82,3.52,1.9,72.86,0.69,7.97,0,0,2'])
all the data inserted
(80, ['81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0,0,2'])
all the data inserted
(81, ['82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0,0,2'])
all the data inserted
(82, ['83,1.51646,13.41,3.55,1.25,72.81,0.68,8.1,0,0,2'])
all the data inserted
(83, ['84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0,0.09,2'])
all the data inserted
(84, ['85,1.51409,14.25,3.09,2.08,72.28,1.1,7.08,0,0,2'])
all the data inserted
(85, ['86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0,0,2'])
all the data inserted
(86, ['87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0,0,2'])
all the data inserted
(87, ['88,1.51645,13.4,3.49,1.52,72.65,0.67,8.08,0,0.1,2'])
all the data inserted
(88, ['89,1.51618,13.01,3.5,1.48,72.89,0.6,8.12,0,0,2'])
all the data inserted
(89, ['90,1.5164,12.55,3.48,1.87,73.23,0.63,8.08,0,0.09,2'])
all the data inserted
(90, ['91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0,0.22,2'])
all the data inserted
(91, ['92,1.51605,12.9,3.44,1.45,73.06,0.44,8.27,0,0,2'])
all the data inserted
(92, ['93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0,0.19,2'])
all the data inserted
(93, ['94,1.5159,13.24,3.34,1.47,73.1,0.39,8.22,0,0,2'])
all the data inserted
(94, ['95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0,0,2'])
all the data inserted
(95, ['96,1.5186,13.36,3.43,1.43,72.26,0.51,8.6,0,0,2'])
all the data inserted
(96, ['97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0,0.15,2'])
all the data inserted
(97, ['98,1.51743,12.2,3.25,1.16,73.55,0.62,8.9,0,0.24,2'])
all the data inserted
(98, ['99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0,0,2'])
all the data inserted
(99, ['100,1.51811,12.96,2.96,1.43,72.92,0.6,8.79,0.14,0,2'])
all the data inserted
(100, ['101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2'])
all the data inserted
(101, ['102,1.5173,12.35,2.72,1.63,72.87,0.7,9.23,0,0,2'])
all the data inserted
(102, ['103,1.5182,12.62,2.76,0.83,73.81,0.35,9.42,0,0.2,2'])
all the data inserted
(103, ['104,1.52725,13.8,3.15,0.66,70.57,0.08,11.64,0,0,2'])
all the data inserted
(104, ['105,1.5241,13.83,2.9,1.17,71.15,0.08,10.79,0,0,2'])
all the data inserted
(105, ['106,1.52475,11.45,0,1.88,72.19,0.81,13.24,0,0.34,2'])
all the data inserted
(106, ['107,1.53125,10.73,0,2.1,69.81,0.58,13.3,3.15,0.28,2'])
all the data inserted
(107, ['108,1.53393,12.3,0,1,70.16,0.12,16.19,0,0.24,2'])
all the data inserted
(108, ['109,1.52222,14.43,0,1,72.67,0.1,11.52,0,0.08,2'])
all the data inserted
(109, ['110,1.51818,13.72,0,0.56,74.45,0,10.99,0,0,2'])
all the data inserted
(110, ['111,1.52664,11.23,0,0.77,73.21,0,14.68,0,0,2'])
all the data inserted
(111, ['112,1.52739,11.02,0,0.75,73.08,0,14.96,0,0,2'])
all the data inserted
(112, ['113,1.52777,12.64,0,0.67,72.02,0.06,14.4,0,0,2'])
all the data inserted
(113, ['114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0,0.14,2'])
all the data inserted
(114, ['115,1.51847,13.1,3.97,1.19,72.44,0.6,8.43,0,0,2'])
all the data inserted
(115, ['116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0,0,2'])
all the data inserted
(116, ['117,1.51829,13.24,3.9,1.41,72.33,0.55,8.31,0,0.1,2'])
all the data inserted
(117, ['118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0,0,2'])
all the data inserted
(118, ['119,1.51673,13.3,3.64,1.53,72.53,0.65,8.03,0,0.29,2'])
all the data inserted
(119, ['120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0,0,2'])
all the data inserted
(120, ['121,1.51844,13.25,3.76,1.32,72.4,0.58,8.42,0,0,2'])
all the data inserted
(121, ['122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0,0.21,2'])
all the data inserted
(122, ['123,1.51687,13.23,3.54,1.48,72.84,0.56,8.1,0,0,2'])
all the data inserted
(123, ['124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0,0,2'])
all the data inserted
(124, ['125,1.52177,13.2,3.68,1.15,72.75,0.54,8.52,0,0,2'])
all the data inserted
(125, ['126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0,0.12,2'])
all the data inserted
(126, ['127,1.51667,12.94,3.61,1.26,72.75,0.56,8.6,0,0,2'])
all the data inserted
(127, ['128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0,0.17,2'])
all the data inserted
(128, ['129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2'])
all the data inserted
(129, ['130,1.5202,13.98,1.35,1.63,71.76,0.39,10.56,0,0.18,2'])
all the data inserted
(130, ['131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0,0,2'])
all the data inserted
(131, ['132,1.52614,13.7,0,1.36,71.24,0.19,13.44,0,0.1,2'])
all the data inserted
(132, ['133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0,0,2'])
all the data inserted
(133, ['134,1.518,13.71,3.93,1.54,71.81,0.54,8.21,0,0.15,2'])
all the data inserted
(134, ['135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0,0,2'])
all the data inserted
(135, ['136,1.51789,13.19,3.9,1.3,72.33,0.55,8.44,0,0.28,2'])
all the data inserted
(136, ['137,1.51806,13,3.8,1.08,73.07,0.56,8.38,0,0.12,2'])
all the data inserted
(137, ['138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0,0,2'])
all the data inserted
(138, ['139,1.51674,12.79,3.52,1.54,73.36,0.66,7.9,0,0,2'])
all the data inserted
(139, ['140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0,0,2'])
all the data inserted
(140, ['141,1.5169,13.33,3.54,1.61,72.54,0.68,8.11,0,0,2'])
all the data inserted
(141, ['142,1.51851,13.2,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2'])
all the data inserted
(142, ['143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2'])
all the data inserted
(143, ['144,1.51709,13,3.47,1.79,72.72,0.66,8.18,0,0,2'])
all the data inserted
(144, ['145,1.5166,12.99,3.18,1.23,72.97,0.58,8.81,0,0.24,2'])
all the data inserted
(145, ['146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0,0.35,2'])
all the data inserted
(146, ['147,1.51769,13.65,3.66,1.11,72.77,0.11,8.6,0,0,3'])
all the data inserted
(147, ['148,1.5161,13.33,3.53,1.34,72.67,0.56,8.33,0,0,3'])
all the data inserted
(148, ['149,1.5167,13.24,3.57,1.38,72.7,0.56,8.44,0,0.1,3'])
all the data inserted
(149, ['150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0,0,3'])
all the data inserted
(150, ['151,1.51665,13.14,3.45,1.76,72.48,0.6,8.38,0,0.17,3'])
all the data inserted
(151, ['152,1.52127,14.32,3.9,0.83,71.5,0,9.49,0,0,3'])
all the data inserted
(152, ['153,1.51779,13.64,3.65,0.65,73,0.06,8.93,0,0,3'])
all the data inserted
(153, ['154,1.5161,13.42,3.4,1.22,72.69,0.59,8.32,0,0,3'])
all the data inserted
(154, ['155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0,0,3'])
all the data inserted
(155, ['156,1.51646,13.04,3.4,1.26,73.01,0.52,8.58,0,0,3'])
all the data inserted
(156, ['157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0,0,3'])
all the data inserted
(157, ['158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0,0,3'])
all the data inserted
(158, ['159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0,0,3'])
all the data inserted
(159, ['160,1.51796,13.5,3.36,1.63,71.94,0.57,8.81,0,0.09,3'])
all the data inserted
(160, ['161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0,0,3'])
all the data inserted
(161, ['162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3'])
all the data inserted
(162, ['163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0,0.37,3'])
all the data inserted
(163, ['164,1.51514,14.01,2.68,3.5,69.89,1.68,5.87,2.2,0,5'])
all the data inserted
(164, ['165,1.51915,12.73,1.85,1.86,72.69,0.6,10.09,0,0,5'])
all the data inserted
(165, ['166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0,0,5'])
all the data inserted
(166, ['167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0,0,5'])
all the data inserted
(167, ['168,1.51969,12.64,0,1.65,73.75,0.38,11.53,0,0,5'])
all the data inserted
(168, ['169,1.51666,12.86,0,1.83,73.88,0.97,10.17,0,0,5'])
all the data inserted
(169, ['170,1.51994,13.27,0,1.76,73.03,0.47,11.32,0,0,5'])
all the data inserted
(170, ['171,1.52369,13.44,0,1.58,72.22,0.32,12.24,0,0,5'])
all the data inserted
(171, ['172,1.51316,13.02,0,3.04,70.48,6.21,6.96,0,0,5'])
all the data inserted
(172, ['173,1.51321,13,0,3.02,70.7,6.21,6.93,0,0,5'])
all the data inserted
(173, ['174,1.52043,13.38,0,1.4,72.25,0.33,12.5,0,0,5'])
all the data inserted
(174, ['175,1.52058,12.85,1.61,2.17,72.18,0.76,9.7,0.24,0.51,5'])
all the data inserted
(175, ['176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0,0.28,5'])
all the data inserted
(176, ['177,1.51905,14,2.39,1.56,72.37,0,9.57,0,0,6'])
all the data inserted
(177, ['178,1.51937,13.79,2.41,1.19,72.76,0,9.77,0,0,6'])
all the data inserted
(178, ['179,1.51829,14.46,2.24,1.62,72.38,0,9.26,0,0,6'])
all the data inserted
(179, ['180,1.51852,14.09,2.19,1.66,72.67,0,9.32,0,0,6'])
all the data inserted
(180, ['181,1.51299,14.4,1.74,1.54,74.55,0,7.59,0,0,6'])
all the data inserted
(181, ['182,1.51888,14.99,0.78,1.74,72.5,0,9.95,0,0,6'])
all the data inserted
(182, ['183,1.51916,14.15,0,2.09,72.74,0,10.88,0,0,6'])
all the data inserted
(183, ['184,1.51969,14.56,0,0.56,73.48,0,11.22,0,0,6'])
all the data inserted
(184, ['185,1.51115,17.38,0,0.34,75.41,0,6.65,0,0,6'])
all the data inserted
(185, ['186,1.51131,13.69,3.2,1.81,72.81,1.76,5.43,1.19,0,7'])
all the data inserted
(186, ['187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0,7'])
all the data inserted
(187, ['188,1.52315,13.44,3.34,1.23,72.38,0.6,8.83,0,0,7'])
all the data inserted
(188, ['189,1.52247,14.86,2.2,2.06,70.26,0.76,9.76,0,0,7'])
all the data inserted
(189, ['190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0,7'])

all the data inserted
(190, ['191,1.51613,13.88,1.78,1.79,73.1,0,8.67,0.76,0,7'])
all the data inserted
(191, ['192,1.51602,14.85,0,2.38,73.28,0,8.76,0.64,0.09,7'])
all the data inserted
(192, ['193,1.51623,14.2,0,2.79,73.46,0.04,9.04,0.4,0.09,7'])
all the data inserted
(193, ['194,1.51719,14.75,0,2,73.02,0,8.53,1.59,0.08,7'])
all the data inserted
(194, ['195,1.51683,14.56,0,1.98,73.29,0,8.52,1.57,0.07,7'])
all the data inserted
(195, ['196,1.51545,14.14,0,2.68,73.39,0.08,9.07,0.61,0.05,7'])
all the data inserted
(196, ['197,1.51556,13.87,0,2.54,73.23,0.14,9.41,0.81,0.01,7'])
all the data inserted
(197, ['198,1.51727,14.7,0,2.34,73.28,0,8.95,0.66,0,7'])
all the data inserted
(198, ['199,1.51531,14.38,0,2.66,73.1,0.04,9.08,0.64,0,7'])
all the data inserted
(199, ['200,1.51609,15.01,0,2.51,73.05,0.05,8.83,0.53,0,7'])
all the data inserted
(200, ['201,1.51508,15.15,0,2.25,73.5,0,8.34,0.63,0,7'])
all the data inserted
(201, ['202,1.51653,11.95,0,1.19,75.18,2.7,8.93,0,0,7'])
all the data inserted
(202, ['203,1.51514,14.85,0,2.42,73.72,0,8.39,0.56,0,7'])
all the data inserted
(203, ['204,1.51658,14.8,0,1.99,73.11,0,8.28,1.71,0,7'])
all the data inserted
(204, ['205,1.51617,14.95,0,2.27,73.3,0,8.71,0.67,0,7'])
all the data inserted
(205, ['206,1.51732,14.95,0,1.8,72.99,0,8.61,1.55,0,7'])
all the data inserted
(206, ['207,1.51645,14.94,0,1.87,73.11,0,8.67,1.38,0,7'])
all the data inserted
(207, ['208,1.51831,14.39,0,1.82,72.86,1.41,6.47,2.88,0,7'])
all the data inserted
(208, ['209,1.5164,14.37,0,2.74,72.85,0,9.45,0.54,0,7'])
all the data inserted
(209, ['210,1.51623,14.14,0,2.88,72.61,0.08,9.18,1.06,0,7'])
all the data inserted
(210, ['211,1.51685,14.92,0,1.99,73.06,0,8.4,1.59,0,7'])
all the data inserted
(211, ['212,1.52065,14.36,0,2.02,73.42,0,8.44,1.64,0,7'])
all the data inserted
(212, ['213,1.51651,14.38,0,1.94,73.61,0,8.48,1.57,0,7'])
all the data inserted
(213, ['214,1.51711,14.23,0,2.08,73.36,0,8.62,1.67,0,7'])
all the data inserted

# Deleting data from table

In [3]:
import mysql.connector as connection
import pandas as pd
import csv
mydb=connection.connect(host="localhost",database="sudhanshu12345",user="root",passwd="mysql",use_pure=True)
query="delete from test where x1=8654"
cur=mydb.cursor()
cur.execute(query)
mydb.commit()

# Update table

In [5]:
query="update test set x1=345454,x2='Gaurav'where x1=4654"
cur=mydb.cursor()
cur.execute(query)
mydb.commit()

# MongoDB

## Pymongo

In [1]:
!python -m pip install pymongo    # this is to be installed for using mongodb in local system

Requirement already satisfied: pymongo in d:\tarun\all-app-files\anaconda\lib\site-packages (4.0.1)

In [4]:
pip install pymongo[srv]     # this is to be installed for using mongodb in cloud system

Requirement already satisfied: pymongo[srv] in d:\tarun\all-app-files\anaconda\lib\site-packages (4.0.1)
Collecting dnspython<3.0.0,>=1.16.0; extra == "srv"
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
#for local version
import pymongo
client=pymongo.MongoClient("mongodb://localhost:27017/")
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
#creating a database in local system
db_1 = client["sudhanshu_kumar"]   #will not show in mongodb unless we add data

In [2]:
# see the list of existing databases
client.list_database_names()

['admin', 'config', 'local']

In [4]:
db_1

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sudhanshu_kumar')

In [7]:
#creating collection in database
collection=db_1["test"]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'sudhanshu_kumar'), 'test')

In [13]:
# inserting record in collection
record={'companyName':'iNeuron',
       'product':'affordable AI',
       'courseOffered':'Deep Learning for Computer Vision',
       'name':['sudhan','kumar',5466],
       'reord_dict':{'name':'sudhanshu','mail_id':'sudhanshu@gfg.ai','ph_number':5656}}
collection.insert_one(record)

In [ ]:
{"_id":{"$oid":"61da6392a51744be53bd0516"},"companyName":"iNeuron","product":"affordable AI","courseOffered":"Deep Learning for Computer Vision","name":["sudhan","kumar",5466],"reord_dict":{"name":"sudhanshu","mail_id":"sudhanshu@gfg.ai","ph_number":5656}}

In [1]:
#for cloud version
import pymongo
client_cloud=pymongo.MongoClient("mongodb+srv://tarunbh009:test@cluster0.lnerr.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db=client_cloud.test

In [2]:
# see list of existing databases
client_cloud.list_database_names()

['sudhanshu_kumar', 'admin', 'local']

In [23]:
#creating db and adding data for cloud version
#creating collection in db
#inserting record in collection
import pymongo
client_cloud=pymongo.MongoClient("mongodb+srv://tarunbh009:test@cluster0.lnerr.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db_1=client_cloud["sudhanshu_kumar"]
collection=db_1["test"]
record={'companyName':'iNeuron',
       'product':'affordable AI',
       'courseOffered':'Deep Learning for Computer Vision',
       'name':['sudhan','kumar',5466],
       'reord_dict':{'name':'sudhanshu','mail_id':'sudhanshu@gfg.ai','ph_number':5656}}
collection.insert_one(record)

### insert multiple records

In [8]:
list_of_records=[{'companyName':'iNeuron',
       'product':'affordable AI',
       'courseOffered':'Machine Learning with Deployment'},
        
        {'companyName':'iNeuron',
       'product':'affordable AI',
       'courseOffered':'Deep Learning for NLP and computer vision'},
        
        {'companyName':'iNeuron',
       'product':'Masters Programme',
       'courseOffered':'Data Science Masters Programme'}]
rec=collection.insert_many(list_of_records)

In [12]:
# print the unique id of the record that we have inserted
insert_IDs= rec.inserted_ids
for idx,unique_ids in enumerate(insert_IDs):
    print(f"{idx}.{unique_ids}")

0.61dc3fc46127a58f809055ff
1.61dc3fc46127a58f80905600
2.61dc3fc46127a58f80905601

In [17]:
#creating data with unique id

COLLECTION_NAME="iNeuron_faculties"
faculties=db_1[COLLECTION_NAME]
list_of_records_user_defined_id=[
    {"_id":1,
    "company_name":"iNeuron",
    "Faculty":"Sudhanshu Kumar"},
    {"_id":2,
    "company_name":"iNeuron",
    "Faculty":"Virat Sagar"}
]
faculties_record=faculties.insert_many(list_of_records_user_defined_id)

## find function in MongoDB

In [19]:
# find first record in collection
faculties.find_one()

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [21]:
# find all records
faculties.find()
for i in faculties.find():
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': 2, 'company_name': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [24]:
for i in collection.find():  #from sudhanshu kumar collection
    print(i)

{'_id': ObjectId('61da6742a51744be53bd051c'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'reord_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@gfg.ai', 'ph_number': 5656}}
{'_id': ObjectId('61dc39cc6127a58f809055fb'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'reord_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@gfg.ai', 'ph_number': 5656}}
{'_id': ObjectId('61dc3b7c6127a58f809055fc'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('61dc3b7c6127a58f809055fd'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Deep Learning for NLP and computer vision'}
{'_id': ObjectId('61dc3b7c6127a58f809055fe'), 'companyName': 'iNeuron', 'product': 'Masters Programme', 'courseOffered': 'Data Science Masters Programme'}
{'_id': ObjectId('61dc3fc46127a58f809055ff'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('61dc3fc46127a58f80905600'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Deep Learning for NLP and computer vision'}
{'_id': ObjectId('61dc3fc46127a58f80905601'), 'companyName': 'iNeuron', 'product': 'Masters Programme', 'courseOffered': 'Data Science Masters Programme'}
{'_id': ObjectId('61dc53916127a58f80905605'), 'companyName': 'iNeuron', 'product': 'affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'reord_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@gfg.ai', 'ph_number': 5656}}

# STEP 6: Query or filter out data in MongoDB

In [33]:
faculties.find({"_id":1})

In [34]:
for i in faculties.find({"_id":1}):
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

In [36]:
# printing id greated than 1
for i in faculties.find({"_id":{"$gt":1}}):  
    print(i)

{'_id': 2, 'company_name': 'iNeuron', 'Faculty': 'Virat Sagar'}

In [37]:
query=({"_id":1})
for i in faculties.find(query):
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}

# STEP 7: Delete one or many documents in MongoDB

In [39]:
# Lets add some random data in faculties
random_data=[{"_id":3,"companyName":"iNeuron","faculty":"XYZ"},
            {"_id":4,"companyName":"iNeuron","faculty":"ABC"},
            {"_id":5,"companyName":"iNeuron","faculty":"PQR"}]
faculties.insert_many(random_data)

In [40]:
for i in faculties.find():
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': 2, 'company_name': 'iNeuron', 'Faculty': 'Virat Sagar'}
{'_id': 3, 'companyName': 'iNeuron', 'faculty': 'XYZ'}
{'_id': 4, 'companyName': 'iNeuron', 'faculty': 'ABC'}
{'_id': 5, 'companyName': 'iNeuron', 'faculty': 'PQR'}

In [41]:
# lets delete one document in faculties
query_to_delete=({"faculty":"XYZ"})

faculties.delete_one(query_to_delete)

In [42]:
for i in faculties.find():
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': 2, 'company_name': 'iNeuron', 'Faculty': 'Virat Sagar'}
{'_id': 4, 'companyName': 'iNeuron', 'faculty': 'ABC'}
{'_id': 5, 'companyName': 'iNeuron', 'faculty': 'PQR'}

In [43]:
# lets delete multiple records in faculties
multi_query_to_delete=({"_id":{"$gte":4}})  #$gte = greater than or equal to

faculties.delete_many(multi_query_to_delete)

In [44]:
for i in faculties.find():
    print(i)

{'_id': 1, 'company_name': 'iNeuron', 'Faculty': 'Sudhanshu Kumar'}
{'_id': 2, 'company_name': 'iNeuron', 'Faculty': 'Virat Sagar'}

# Cassandra

In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp38-cp38-win_amd64.whl (2.9 MB)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in d:\tarun\all-app-files\anaconda\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in d:\tarun\all-app-files\anaconda\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [1]:
import cassandra

In [2]:
print(cassandra.__version__)

3.25.0

In [19]:
# for cloud version
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Tarun\ineuron\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('GbbNrNGeALsPDrzBjrpdqHpH', 'Mkf6MWMn7gSQmzbRu+I-f+zqA811R-wmNlKrhQOIT4CZwi.MIHl7kxIzPuF3wNG+BwZPK3.ZWz7n8,runD,4yDTpDTe31+YI-wZEoisFWjD.5fkO6Tq,Gtd8tNeZKRbI')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6816

In [6]:
# for local version
from cassandra.cluster import cluster
cluster =cluster()
session_offline=cluster.connect()
row = session_offline.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

ImportError: cannot import name 'cluster' from 'cassandra.cluster' (D:\Tarun\All-App-Files\anaconda\lib\site-packages\cassandra\cluster.cp38-win_amd64.pyd)

In [7]:
CREATE KEYSPACE sudh1 WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : '1'} AND durable_writes='true';

SyntaxError: invalid syntax (<ipython-input-7-aeef117df8ea>, line 1)

In [19]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Tarun\ineuron\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('', 'Mkf6MWMn7gSQmzbRu+I-f+zqA811R-wmNlKrhQOIT4CZwi.MIHl7kxIzPuF3wNG+BwZPK3.ZWz7n8,runD,4yDTpDTe31+YI-wZEoisFWjD.5fkO6Tq,Gtd8tNeZKRbI')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("CREATE KEYSPACE sudh1 WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 3}").one()
print(row)

Unauthorized: Error from server: code=2100 [Unauthorized] message="Missing correct permission on sudh1."

In [4]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Tarun\ineuron\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('GbbNrNGeALsPDrzBjrpdqHpH', 'Mkf6MWMn7gSQmzbRu+I-f+zqA811R-wmNlKrhQOIT4CZwi.MIHl7kxIzPuF3wNG+BwZPK3.ZWz7n8,runD,4yDTpDTe31+YI-wZEoisFWjD.5fkO6Tq,Gtd8tNeZKRbI')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("SELECT * FROM system_schema.keyspaces").one()
print(row)

NoHostAvailable: ('Unable to connect to any servers', {'224515e8-b73c-4a85-a464-198aa8fcf982-us-east1.db.astra.datastax.com:29042:fa1d4c30-bd4e-401a-ab7e-25ee24b01028': OperationTimedOut('errors=None, last_host=None'), '224515e8-b73c-4a85-a464-198aa8fcf982-us-east1.db.astra.datastax.com:29042:b4c37cb0-4dec-409c-a4bf-f890bd91a59e': OperationTimedOut('errors=None, last_host=None'), '224515e8-b73c-4a85-a464-198aa8fcf982-us-east1.db.astra.datastax.com:29042:c4854619-2b96-4a4a-bff9-0c18466c44bf': OperationTimedOut('errors=None, last_host=None')})

In [5]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\Tarun\ineuron\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('GbbNrNGeALsPDrzBjrpdqHpH', 'Mkf6MWMn7gSQmzbRu+I-f+zqA811R-wmNlKrhQOIT4CZwi.MIHl7kxIzPuF3wNG+BwZPK3.ZWz7n8,runD,4yDTpDTe31+YI-wZEoisFWjD.5fkO6Tq,Gtd8tNeZKRbI')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("CREATE TABLE sudh.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint)").one()
print(row)

None

In [9]:
row=session.execute("SELECT * FROM sudh.emp").one()
for i in row():
    print(i)                                              # there is no data in table hence not iterable

TypeError: 'NoneType' object is not callable

In [25]:
row=session.execute("CREATE TABLE sudh.emp2(emp2_id int PRIMARY KEY,emp_name int)").one()
print(row)

None

In [32]:
row=session.execute("insert into sudh.emp2(emp2_id,emp_name)values(1,2)").one()
row=session.execute("insert into sudh.emp2(emp2_id,emp_name)values(1,2)").one()
row=session.execute("insert into sudh.emp2(emp2_id,emp_name)values(12,2)").one()
print(row)   # will not take value 1,2 again bcoz emp2_id is primary key and will not accept duplicate values

None

In [1]:
def math_operation_via_postman(operation,num1,num2):
   
        if(operation=='add'):
            r=num1+num2
            result= 'the sum of '+str(num1)+' and '+str(num2) +' is '+str(r)
        if (operation == 'subtract'):
            r = num1 - num2
            result = 'the difference of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'multiply'):
            r = num1 * num2
            result = 'the product of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'divide'):
            r = num1 / num2
            result = 'the quotient when ' + str(num1) + ' is divided by ' + str(num2) + ' is ' + str(r)
        return result

In [2]:
math_operation_via_postman("add",34,2)

'the sum of 34 and 2 is 36'

# Sql lite

sql lite is a in memory data base. In memory means in device memory

In [3]:
import sqlite3

In [2]:
# creating database
db=sqlite3.connect('ineuron.db')

In [3]:
# creating cursor
c=db.cursor()

In [4]:
c.execute('CREATE TABLE fsds(name text, batchid int, marks real)')

In [6]:
c.execute("insert into fsds values('sudh',34535,454.57)")

In [7]:
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")
c.execute("insert into fsds values('sudh',34535,454.57)")

In [9]:
data=c.execute('select *from fsds')

In [11]:
for i in data:
    print(i)

('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)

In [12]:
db.commit()

In [13]:
db.close()

In [14]:
db=sqlite3.connect('ineuron.db')

In [15]:
c=db.cursor()

In [17]:
data =c.execute('select * from fsds where marks > 400')

In [19]:
for i in data:
    print(i)

('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)
('sudh', 34535, 454.57)

In [20]:
data =c.execute('select name , marks from fsds')

In [21]:
for i in data:
    print(i)

('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)

In [22]:
data =c.execute('select name , marks from fsds order by marks')   ## print marks in ascending order

In [23]:
for i in data:
    print(i)

('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)
('sudh', 454.57)

In [24]:
db.close()

In [25]:
db=sqlite3.connect('person.db')

In [26]:
c=db.cursor()

In [27]:
c.execute('create table person_table(name text, emailid text, age int,salary real)')

In [28]:
c.execute('insert into person_table values("sudh", "sudhanshu@ineuron.ai", 234, 23424)')
c.execute('insert into person_table values("prashant","prashant@ineuron.ai", 345, 23543543)')
c.execute('insert into person_table values("krish", "krish@ineuron.ai", 2345, 34534564)')
c.execute('insert into person_table values("sunny", "sunny@ineuron.ai", 2354, 7789797)')

In [29]:
data = c.execute('select * from person_table')

In [30]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [31]:
db.commit()

In [32]:
db.close()

In [33]:
db=sqlite3.connect('ineuron.db')

In [34]:
c=db.cursor()

In [35]:
c.execute('drop table fsds')

In [36]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [37]:
db.close()

In [4]:
db=sqlite3.connect('person.db')

In [5]:
c=db.cursor()
data=c.execute('select * from person_table limit 2')

In [6]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)

In [20]:
db.close()

In [21]:
db=sqlite3.connect("jobdb.db")

In [22]:
c=db.cursor()

In [25]:
c.execute("create table student(student_id int, student_name text, student_mailid text, marks int)")

In [28]:
c.execute("create table address(student_id int, pincode int, location text, nearby text, phone_no int)")

In [29]:
c.execute("insert into student values(234,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(235,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(236,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(237,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(238,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(239,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(2310,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(2311,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(2343,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(233543,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(23345,'sudhanshu','sudhanshu@ineuron.ai',234)")
c.execute("insert into student values(233543,'sudhanshu','sudhanshu@ineuron.ai',234)")

In [30]:
c.execute("insert into address values(235,56034,'whitefelid','ineuron office', 2323543454353)")

In [31]:
c.execute("insert into address values(236,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(237,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(238,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(239,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(210,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23345,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23345,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23654,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(235345,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23665,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23623,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23689,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23609,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23632,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23689,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23623,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23698,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23623,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23689,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23623,56034,'whitefelid','ineuron office', 2323543454353)")
c.execute("insert into address values(23690,56034,'whitefelid','ineuron office', 2323543454353)")

In [32]:
for i in c.execute("select * from address"):
    print(i)

(235, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(236, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(237, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(238, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(239, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(210, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23345, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23345, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23654, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(235345, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23665, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23609, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23632, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23698, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23690, 56034, 'whitefelid', 'ineuron office', 2323543454353)

## Left Join

In [34]:
data =c.execute("select * from student s left join address a on s.student_id=a.student_id")

In [35]:
for i in data:
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 235, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 236, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 237, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 238, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 239, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(2310, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 23345, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(23345, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, 23345, 56034, 'whitefelid', 'ineuron office', 2323543454353)
(233543, 'sudhanshu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [36]:
data =c.execute("select * from student s right join address a on s.student_id=a.student_id")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

right join is not available in sqlite but available in sql

another way to perform right join in sqlite is making address left and student right table

In [37]:
data =c.execute("select * from address s left join student a on s.student_id=a.student_id")

In [38]:
for i in data:
    print(i)

(235, 56034, 'whitefelid', 'ineuron office', 2323543454353, 235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(236, 56034, 'whitefelid', 'ineuron office', 2323543454353, 236, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 56034, 'whitefelid', 'ineuron office', 2323543454353, 237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 56034, 'whitefelid', 'ineuron office', 2323543454353, 238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 56034, 'whitefelid', 'ineuron office', 2323543454353, 239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(210, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23345, 56034, 'whitefelid', 'ineuron office', 2323543454353, 23345, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(23345, 56034, 'whitefelid', 'ineuron office', 2323543454353, 23345, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(23654, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(235345, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23665, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23609, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23632, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23698, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23689, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23623, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)
(23690, 56034, 'whitefelid', 'ineuron office', 2323543454353, None, None, None, None)

In [39]:
for i in c.execute('select * from student'):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)

In [40]:
c.execute('delete from student where student_id>2000')

In [41]:
for i in c.execute('select * from student'):
    print(i)

(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)

In [42]:
data =c.execute("select * from student")

In [43]:
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)]

In [45]:
c.execute("update student set student_id=1000 where student_id=236")

In [46]:
data=c.execute('select * from student')
data.fetchall()

[(234, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhanshu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhanshu', 'sudhanshu@ineuron.ai', 234)]

# Map Function

In [1]:
l=[1,2,3,4,5,6]

In [3]:
l1=[]
for i in l:
    l1.append(i+5)

In [4]:
l1

[6, 7, 8, 9, 10, 11]

In [6]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11]

In [7]:
def test(a):
    return a+5

In [10]:
map(test,l)

In [13]:
list(map(test,l))

[6, 7, 8, 9, 10, 11]

In [17]:
def test1(a):
    return a*3454+454

In [18]:
list(map(test1,l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [1]:
l1=['234','345','543','5435','543','5435']

In [2]:
def test2(a):
    return int(a)

In [3]:
list(map(test2,l1))

[234, 345, 543, 5435, 543, 5435]

In [5]:
list(map(lambda x: int(x),l1))   # use of map funcn with lambda funcn

[234, 345, 543, 5435, 543, 5435]

# Filter function

In [6]:
l=[4,5,6,7,78,8,78]

In [7]:
def test4(a):
    if a%2==0:
        return a

In [8]:
[i for i in l if i%2==0]

[4, 6, 78, 8, 78]

In [9]:
list(filter(test4,l))

[4, 6, 78, 8, 78]

In [10]:
list(filter(lambda x: (x%2==0),l))

[4, 6, 78, 8, 78]

# Reduce Function

In [12]:
from functools import reduce

In [14]:
l=[3,4,5,6,7,3,8]

In [15]:
sum(l)

36

In [16]:
def test5(a,b):
    return a+b

In [18]:
reduce(test5,l)

36

In [19]:
l=[3]

In [21]:
reduce(test5,l) ## here b will be considered zero

3

In [23]:
reduce(lambda x,y:x+y,l)

3

# zip function

In [1]:
l=[1,2,3,4,5]
l1=[4,5,6,7,7]

In [3]:
list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 7)]

In [7]:
l=[1,2,3,4,]
l1=[4,5,6,7,7]
l2=['sudhanshu','kumar','krish','sunny','ineuron']

In [9]:
list(zip(l,l1,l2))  # it will create 4 pairs only bcoz l has 4 elements

[(1, 4, 'sudhanshu'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]